{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "User Info" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Matching Nectar Users") %}
{% endblock page_header %}

{% block main %}
<form id="user-info"
      action=""
      method="post">
  <fieldset>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.persistent_id %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.user_id %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.displayname %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.first_name %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.surname %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.email %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.affiliation %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.home_organization %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.orcid %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.phone_number %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% include "user_info/field.html" with field=form.mobile_number %}
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Update">
</form>
{% endblock %}

