{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Matching Users" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Matching Nectar Users") %}
{% endblock page_header %}

{% block main %}
<form id="user_info_lookup_form" ng-controller="DummyController"
      name="" autocomplete="" class="" action="" method="GET">
  {% csrf_token %}
  <div class="form-inline">
    <input name="q" minlength="3" class="form-control" required id="id_q" />
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
  {{ table.render }}
{% endblock %}
