{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "User Info" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Matching Nectar Users") %}
{% endblock page_header %}

{% block main %}
<table>
  {% include "user_info/field2.html" with value=object.user_id label="Keystone user id" %}
  {% include "user_info/field2.html" with value=object.displayname label="Full name" %}
  {% include "user_info/field2.html" with value=object.email label="Email" %}
  {% include "user_info/field2.html" with value=object.first_name label="First name" %}
  {% include "user_info/field2.html" with value=object.surname label="Surname" %}
  {% include "user_info/field2.html" with value=object.affiliation label="Family name" %}
  {% include "user_info/field2.html" with value=object.home_organization label="Home Organization" %}
  {% include "user_info/field2.html" with value=object.orcid label="ORCID" %}
  {% include "user_info/field2.html" with value=object.phone_number label="Phone Number" %}
  {% include "user_info/field2.html" with value=object.mobile_number label="Mobile number"%}
</table>
{% endblock %}

