<script>
  // waitUntilExists from https://gist.github.com/PizzaBrandon/5709010
  (function(e,f){var b={},g=function(a){b[a]&&(f.clearInterval(b[a]),b[a]=null)};e.fn.waitUntilExists=function(a,h,j){var c=this.selector,d=e(c),k=d.not(function(){return e(this).data("waitUntilExists.found")});"remove"===a?g(c):(k.each(a).data("waitUntilExists.found",!0),h&&d.length?g(c):j||(b[c]=f.setInterval(function(){d.waitUntilExists(a,h,!0)},100)));return d}})(jQuery,window);
</script>

{% if HORIZON_CONFIG.google_analytics_key %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61845992-3"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TT9SKVRE47"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ HORIZON_CONFIG.google_analytics_key }}');
  gtag('config', 'G-TT9SKVRE47');
</script>
{% endif %}
