<div class="row">
<div class="col-md-5">
  <div class="list-group">
    <a href="#" class="list-group-item disabled">Category</a>
    <a href="#" class="list-group-item"
      ng-repeat="category in categories"
      ng-if="hasImages($index)"
      ng-class="{active: $index === categoryIndex}"
      ng-click="selectCategory($index)">{$ category.text $}</a>
  </div>
</div>
<div class="col-md-5">
  <div class="list-group">
    <a href="#" class="list-group-item disabled">Image</a>
    <a href="#" class="list-group-item"
      ng-repeat="image in model.images"
      ng-if="categories[categoryIndex].predicate(image)"
      ng-class="{active: image.id === activeImage.id}"
      ng-click="selectImage(image)">{$ image.name $}</a>
  </div>
</div>
</div>
