bin/
build/
develop-eggs/
/static/
dist/
parts/
src/
eggs/
#*
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
/.project
/.pydevproject
/.idea
.venv
/devenv
.coverage
coverage.xml
.cache/
.tox/
nectar_dashboard.egg-info/*
policy/default_policies/
.eggs/