include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include nectar_dashboard/local_settings.d/ *
recursive-include nectar_dashboard/rcallocation/templates *
recursive-include nectar_dashboard/rcallocation/static *
recursive-include nectar_dashboard/reset_password/templates *
recursive-include nectar_dashboard/project_members/templates *
recursive-include nectar_dashboard/user_info/templates *

recursive-include docs *.rst conf.py Makefile make.bat
