git+https://github.com/Nectar-RC/horizon.git@nectar/wallaby#egg=horizon
django-cors-headers
python-memcached
python-freshdesk
manukaclient>=0.7.0
git+https://github.com/NeCTAR-RC/django-select2-forms.git@nectar/master#egg=django-select2-forms
