
git+https://github.com/NeCTAR-RC/horizon.git@nectar/liberty#egg=horizon
git+https://github.com/NeCTAR-RC/horizon.git@nectar/liberty#egg=openstack_dashboard

python-dateutil
pymysql
rt
djangorestframework>=3.2.3,<3.3.0
django-filter
