django_nose
nose-exclude
factory_boy>=2.8.1,<2.9.0
mox
mox3
mock
freezegun
heat-dashboard~=13.0
manila-ui~=13.0
octavia-dashboard~=15.0
designate-dashboard~=15.0
magnum-ui @ git+https://github.com/NeCTAR-RC/magnum-ui@nectar/2025.1
cloudkitty-dashboard~=15.0
trove-dashboard @ git+https://github.com/NeCTAR-RC/trove-dashboard@nectar/2025.1
murano-dashboard @ git+https://github.com/NeCTAR-RC/murano-dashboard@nectar/2025.1
warre-dashboard @ git+https://github.com/NeCTAR-RC/warre-dashboard@nectar/2025.1
varroa-dashboard @ git+https://github.com/NeCTAR-RC/varroa-dashboard@nectar/2025.1
