{% load themes %}
{% load static %}

<!-- ARDC footer -->
<ardc-footer
  class="ardc-footer ardc-custom-component"
  data-content-width="wide"
  style="opacity: 0;"
  data-show-ardc-logo
>
  <ul id="quick-links">
    <li><a href="/" title="Nectar Dashboard Home">Nectar Dashboard Home</a></li>
    <li><a href="https://dashboard.rc.nectar.org.au/terms" title="Read the Nectar Cloud Terms and Conditions">Terms of Service</a></li>
    <li><a href="http://support.nectar.org.au/" title="Visit the Nectar Support Centre">Nectar Support Centre</a></li>
    <li><a href="https://status.rc.nectar.org.au/" target="_blank" title="Nectar Cloud Status Site">Nectar System Status</a></li>
    <li><a href="https://tutorials.rc.nectar.org.au/" target="_blank" title="Learn with Nectar Cloud Tutorials">Nectar Tutorials</a></li>
    <li><a href="https://ardc.edu.au/services/ardc-nectar-research-cloud/" target="_blank" title="Learn About the ARDC Nectar Research Cloud">About Nectar</a></li>
    <li><a href="https://ardc.edu.au/" target="_blank" title="Explore the ARDC Website">ARDC Website</a></li>
  </ul>
  <ul id="legal-links">
    <li><a href="https://ardc.edu.au/terms-and-conditions/">Terms &amp; Conditions</a></li>
    <li><a href="https://ardc.edu.au/privacy-policy/">Privacy Policy</a></li>
    <li><a href="https://ardc.edu.au/accessibility-statement-for-ardc/">Accessibility Statement</a></li>
  </ul>
  <a href="https://www.acnc.gov.au/charity/charities/eca273f3-f5be-e911-a98a-000d3ad02a61/profile"
     id="ardc-footer-acn">ACN 633 798 857</a>
</ardc-footer>