{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Terms and Conditions" %}{% endblock %}

{% block body_id %}terms{% endblock %}

{% block content %}
  <div class="container">
    <div class="span12">
      <div class="form-actions">
        <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
      </div>
      <h1>{% trans "Terms and Conditions" %}</h1>
      <p>
        1.
      </p>
      <p> (a) You must use the Research Cloud in a secure manner,
        follow all security guidelines and policies available on
        http://support.rc.nectar.org.au/docs/security-guidelines
      </p>
      <p> (b) Your use of the Research Cloud may be monitored for all
        lawful purposes, to ensure that the use is authorised, for
        management of the system, to facilitate protection against
        unauthorised access, and to verify security procedures,
        availability and operational security.
      </p>
      <p> (c) Unauthorised use is prohibited and may result in
        administrative and/or legal action. If you do not understand
        this notice, disconnect immediate, do not proceed further and
        contact the Research Cloud Support team on
        support@rc.nectar.org.au
      </p>
      <p>
        2.
      </p>
      <p>
        (a) You must, through the conduct of usage, ensure that it and
        all users strictly observe and comply with every respect with
        all applicable Commonwealth, State and Territory legislation
        relating to biological, ethical or radiation safeguards and
        all ethics, codes and guidelines adopted by the National
        Health and Medical Research Council, the Office of the Gene
        Technology Regulator and all other relevant regulatory
        agencies operating in Australia.
      </p>
      <p>
        (b) You agree to provide assistance to the University of
        Melbourne to monitor and ensure continued compliance by Users
        of clause (a) in using the Service
      </p>
      <p>
        (c) Subject to clause 2(e), you must nominate to the
        University of Melbourne one or more higher education
        institution(s) or Commonwealth or State research organisation
        with a relevant ethics committee constituted in accordance
        with the legislation, codes and guidelines referred to in
        clause 2(a) to oversee all ethical clearances which may be
        required under that legislation, codes and guidelines.
      </p>
      <p>
        (d) If more than one ethics committee is nominated, you must
        indicate the respective areas of responsibility in such a way
        as to ensure no activity of yours is overseen by more than one
        ethics committee.
      </p>
      <p> (e) Clause 2(b) only applies if your institution does not
        already have an ethics committee constituted in accordance
        with the legislation, codes and guidelines referred to in
        clause 2(a).
      </p>
      <p> (f) When conducting or permitting the conduct of research
        pursuant to the field of research undertaken at facilities or
        services related to your usage which involves the use of
        ionising radiation, you must ensure that persons performing
        the procedures involving ionising radiation are appropriately
        trained and hold a relevant current licence from the
        appropriate State authority.
      </p>
      <p> (g) The Sub-contractor must, whenever reasonably required by
        the University of Melbourne, provide written evidence of
        compliance with this clause 2.
      </p>
      <div class="form-actions">
        <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
      </div>
    </div>
  </div>
{% endblock %}
