{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Terms of Use" %}{% endblock %}

{% block body_id %}terms{% endblock %}

{% block content %}
  <div class="container">
    <div class="span12">
      <div class="form-actions">
        <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
      </div>
      <!--New T&Cs as endorsed by Nectar Control Groups and approved by Platform Steering Committee in March 2017-->
      <h1>Terms of Use</h1>
      <p>Please read these terms of use carefully. By using the Nectar Research Cloud you agree you have read these terms and agree to be bound and abide by them. Nectar (&ldquo;we&rdquo;, &ldquo;us&rdquo;, &ldquo;our&rdquo;) reserves its right to modify these terms at any time.</p>
      <h2>DEFINITIONS</h2>
      <ol>
        <li>In these Terms of Use:</li>
      </ol>
      <p style="padding-left: 30px;"><strong>Allocation Period </strong>means the period of time allocated to you as a User of the Services.</p>
      <p style="padding-left: 30px;"><strong>Associated Organisation </strong>means an organisation which is associated with a Node.</p>
      <p style="padding-left: 30px;"><strong>Internal Policies </strong>means any policies, procedures, terms or other guidelines which are:</p>
      <ol>
        <ol type="a">
          <li>developed by a Member Organisation, Associated Organisation or Node; and</li>
          <li>separate to these Terms of Use.</li>
        </ol>
      </ol>
      <p style="padding-left: 30px;"><strong>Member Organisation </strong>means an organisation which is a member of a Node.</p>
      <p style="padding-left: 30px;"><strong>Nectar </strong>is a national cloud infrastructure program with University of Melbourne as its lead agent.</p>
      <p style="padding-left: 30px;"><strong>Nectar Research Cloud </strong>means a single integrated cloud service provided by Nectar.</p>
      <p style="padding-left: 30px;"><strong>Node </strong>means an organisation which is a member of the Nectar Research Cloud and provides infrastructure and services to support the Nectar Research Cloud.</p>
      <p style="padding-left: 30px;"><strong>Organisation </strong>means an Associated Organisation or Member Organisation.</p>
      <p style="padding-left: 30px;"><strong>Services </strong>means:</p>
      <ol>
        <ol type="a">
          <li>computing infrastructure and software provided by the Nectar Research Cloud;</li>
          <li>virtual environments hosted on the Nectar Research Cloud; or</li>
          <li>any other service provided by, or accessed through, the Nectar Research Cloud.</li>
        </ol>
      </ol>
      <p style="padding-left: 30px;"><strong>User (&ldquo;you&rdquo;, &ldquo;your&rdquo;) </strong>means a person who uses or accesses a Service, whether in Australia or not, and may include students, researchers or members of industry.</p>
      <h2>USE OF SERVICES</h2>
      <ol>
        <li>
          <p>Subject to these terms and conditions, you will be given access to the Services for the Allocation Period.</p>
        </li>
      </ol>
      <ol start="2">
        <li>
          <p>You must use the Services for research purposes, or for related purposes as approved by a Node, Member Organisation or Associated Organisation.</p>
        </li>
      </ol>
      <ol start="3">
        <li>
          <p>You warrant that you are:</p>
          <ol type="a">
            <li>a student or employee of a Node, Member Organisation or Associated Organisation, or a collaborator with an authorised Australian Access Federation (AAF) account with such an entity; and</li>
            <li>solely responsible to your Organisation and the associated Node for abiding by any Internal Policies which are relevant to your use of the Services.</p>
            </li>
          </ol>
        </li>
      </ol>
      <ol start="4">
        <li>
          <p>When using or accessing the Services, you are responsible for ensuring that you:</p>
          <ol type="a">
            <li>
              comply with all applicable laws, regulations, codes and guidelines, including the <a title="Nectar security guidelines" href="https://support.ehelp.edu.au/support/solutions/folders/6000203455">Nectar security guidelines</a> and the <a title="Australian Code for the Responsible Conduct of Research" href="https://www.nhmrc.gov.au/guidelines-publications/r39">Australian Code for the Responsible Conduct of Research</a>;
            </li>
            <li>
              regularly back-up your data or configuration;
            </li>
            <li>
              maintain and configure any virtual infrastructure you may use; and
            </li>
            <li>
              not use or access the Services:
              <ol type="i">
                <li>
                  to engage in fraudulent behaviour;
                </li>
                <li>
                  to defame, harass or engage in any form of unsolicited communications with any third party;
                </li>
                <li>
                  in a manner that breaches the privacy of a third party; or
                </li>
                <li>
                  in a manner that infringes the copyright, moral rights or any intellectual property rights of any third party, including third-party software licenses or service agreements; or
                </li>
                <li>
                  to a degree that unreasonably affects other Users, co-located infrastructure or services at Nodes.
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
      <ol start="5">
        <li>
          <p>From time to time a Node may be added or removed from the Nectar Research Cloud, which may affect your use of the Services. If that occurs, Nectar may migrate your information, and any relevant virtual infrastructure, to another Node without notice. In these circumstances Nectar will however use reasonable endeavours to provide notice before migration.</p>
        </li>
      </ol>
      <ol start="6">
        <li>
          <p>Your use of the Services is limited to the Allocation Period.</p>
        </li>
      </ol>
      <h2>THIRD PARTY USE OF SERVICES</h2>
      <ol start="7">
        <li>
          <p align="justify">You are solely responsible for your use of the Services and must not provide your credentials to a third party.</p>
        </li>
      </ol>
      <ol start="8">
        <li>
          <p align="justify">You must notify Nectar immediately if you notice any breach of security or unauthorised use of your allocation or user account.</p>
        </li>
      </ol>
      <h2>EXPIRY, LIMITATION SUSPENSION OR TERMINATION</h2>
      <ol start="9">
        <li>
          <p>Upon expiry of your Allocation Period, your access to the Services will cease and any data or virtual environments created by you will be deleted after 3 months. It is your responsibility to maintain backups of any data or virtual environments created by you.</p>
        </li>
      </ol>
      <ol start="10">
        <li>
          <p>At any time prior to the expiry of your Allocation Period, Nectar may:</p>
        </li>
      </ol>
      <ol>
        <ol type="a">
          <li>
            limit, attenuate, suspend or terminate your use of the Nectar Research Cloud at any time, at its discretion and without notice; or
          </li>
          <li>
            immediately remove any content on the Nectar Research Cloud, including any virtual environment you create or contribute to, in any of the following circumstances:
          </li>
        </ol>
        <ol>
          <ol type="i">
            <li>
              inappropriate use of the Nectar Research Cloud or any of its Services;
            </li>
            <li>
              a detected vulnerability or compromise in the security of the Services;
            </li>
            <li>
              a request or direction by a law enforcement agency; or
            </li>
            <li>
              Nectar reasonably determines that there is an operational need for the content to be removed.
            </li>
          </ol>
        </ol>
      </ol>
      <h2>LIABILITY</h2>
      <ol start="11">
        <li>
          <p align="justify">To the extent permitted by law, Nectar gives no guarantee, warranty or representation in relation to the Services, including in relation to the availability, fitness of purpose, or maintenance and security.</p>
        </li>
      </ol>
      <ol start="12">
        <li>
          <p align="justify">Nectar gives no guarantee and accepts no responsibility for the integrity, value, reliability, accuracy and completeness of the content hosted on the Nectar Research Cloud, or the actions of third parties (including users of the Nectar Research Cloud). You agree to independently verify the accuracy, currency and completeness of any information obtained through the Nectar Research Cloud. You agree that we will not be liable to you or anyone else for any decision made, or action taken, in reliance upon any information obtained through the Nectar Research Cloud.&nbsp;</p>
        </li>
      </ol>
      <ol start="13">
        <li>
          <p align="justify">Nectar does not accept responsibility for or endorse the content or condition of any linked or third party site.</p>
        </li>
      </ol>
      <h2>PRIVACY</h2>
      <ol start="14">
        <li>
          <p align="justify">You agree and acknowledge that the personal information you provide is being collected by Nectar, and will be used by authorised staff to monitor, and report on, the use and security of its services. Information about your use of Nectar may be disclosed to your organisation, Nectar, Node operators, and any funding entity, including the Australian Commonwealth.</p>
        </li>
      </ol>
      <ol start="15">
        <li>
          <p align="justify">You may access any personal information you have provided to Nectar by emailing the Nectar helpdesk at support@ehelp.edu.au. Nectar is committed to protecting personal information provided by you in accordance with all applicable privacy legislation.</p>
        </li>
      </ol>
      <p lang="en-US">For any inquiries, please contact us at <a href="mailto:support@ehelp.edu.au">support@ehelp.edu.au</a>.</p>

      <div class="form-actions">
        <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
      </div>
    </div>
  </div>
{% endblock %}
