div.topbar {
  background: none;
}

div#content_body {
  padding-top: 20px;
}

div#content_body .page-header {
  display: none;
}

div#main_content .tab-content {
  border: none;
}

div#services_region_switcher {
  display: none;
}

.nav_accordion dt li a.active, .nav_accordion dd li a.active {
  border-left-color: #FBE397;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #FBE397;
  color: inherit;
}

.dropdown-menu .divider {
  display: none;
}

#splash .shibboleth {
  background: #fff url(../img/logo-splash.svg) no-repeat center 35px;
}

#splash .login.shibboleth input {
  width: 100px;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#password_reset_form .modal-body .well {
    text-align: center;
}

#terms .form-actions {
    margin-top: 0;
    border-top: 0
}

.topbar .switcher_bar {
    width: 400px;
    background-position: 380px center;
}

.topbar .switcher_bar ul {
    width: 100%;
}

.topbar .switcher_bar h3:hover {
    overflow: hidden;
}

.topbar .switcher_bar.open .dropdown-toggle {
    background-color: #D5D5D5;
}

.top-banner {
    font-size: medium;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.alloc-icon {
    text-align: center;
    font-size: 1.6em;
}

.alloc-icon-ok {
    color: #468847;
}

.alloc-icon-wip {
    color: #c09853;
}

.delete-icon-sp{
    cursor: pointer;
}

.medium_width{
    width: 600px;
}

.grant_div{
    padding: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.publication_div{
    padding: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.label-resource-help {
    font-size: small;
}

.pending_warn_level_0 {
    background-color: #008000 !important;
}

.pending_warn_level_1 {
    background-color: #ffd700 !important;
}

.pending_warn_level_2 {
    background-color: #ffa500 !important;
}


.pending_warn_level_3 {
    background-color: #ff0000 !important;
}

.pending_warn_level_4 {
    background-color: #800080 !important;
}

#panel-quota-rating .toggle.btn {
  visibility: hidden;
}

img.help-popover {
    height: 18px;
    width: 18px;
    margin: 10px;
}
