div.topbar {
  background: none;
}

div#content_body {
  padding-top: 20px;
}

div#content_body .page-header {
  display: none;
}

div#main_content .tab-content {
  border: none;
}

div#services_region_switcher {
  display: none;
}

.nav_accordion dt li a.active, .nav_accordion dd li a.active {
  border-left-color: #FBE397;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #FBE397;
  color: inherit;
}

.dropdown-menu .divider {
  display: none;
}

#splash .shibboleth {
  background: #fff url(../img/logo-splash.svg) no-repeat center 35px;
}

#splash .login.shibboleth input {
  width: 100px;
}

html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#password_reset_form .modal-body .well {
    text-align: center;
}

#terms .form-actions {
    margin-top: 0;
    border-top: 0
}

.topbar .switcher_bar {
    width: 400px;
    background-position: 380px center;
}

.topbar .switcher_bar ul {
    width: 100%;
}

.topbar .switcher_bar h3:hover {
    overflow: hidden;
}

.topbar .switcher_bar.open .dropdown-toggle {
    background-color: #D5D5D5;
}

.top-banner {
    font-size: medium;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.alloc-icon {
    text-align: center;
    font-size: 1.6em;
}

.alloc-icon-ok {
    color: darken($brand-success, 10%);
}

.alloc-icon-wip {
    color: darken($brand-warning, 10%);
}

.delete-icon-sp{
    cursor: pointer;
}

.medium_width {
    max-width: 600px;
}

.alert {
  margin-top: 20px;
  .errorlist {
    list-style: none;
  }
}

.grant_div {
    padding: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.publication_div {
    padding: 10px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.label-resource-help {
    font-size: small;
}

.pending_warn_level_0 {
    background-color: $brand-success !important;
}

.pending_warn_level_1 {
    background-color: $brand-info !important;
}

.pending_warn_level_2 {
    background-color: $brand-warning !important;
}


.pending_warn_level_3 {
    background-color: $brand-danger !important;
}

.pending_warn_level_4 {
    background-color: #8E489B !important;
}

#request_accordion {
  > .panel {
    margin-top: -2px;
    &:not(:first-child),
    &:not(:first-child) .panel-heading,
    &:not(:last-child),
    &:not(:last-child) .panel-heading {
      border-radius: 0;
    }
    &:first-child,
    &:first-child .panel-heading {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:last-child,
    &:last-child .panel-footer {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &:last-child,
    &:last-child .panel-footer {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .panel-heading .panel-title {
      display: flex;
      a {
        flex-grow: 1;
        text-decoration: none;
      }
    }
    &.panel-warning,
    &.panel-danger {
      position: relative;
    }
    &.panel-warning > .panel-heading {
      color: #000;
      background-color: lighten(#F8B20E, 15%);
    }
    &.panel-danger > .panel-heading {
      color: #000;
      background-color: lighten(#E51875, 25%);
    }
    &.panel-danger .panel-title:after {
      content: "\f06a";
      font-family: FontAwesome;
    }
  }
}

#panel-quota-rating .toggle.btn {
  visibility: hidden;
}

.panel-group#quota_formset .panel {
  margin-bottom: 10px;
}

.step-nav {
  margin-top: 10px;
}

.panel-group#quota_formset .panel .panel-heading {
  border-top-radius: 4px;
}

.quota-group {
  margin-bottom: 10px;
}

.flex-group {
  display: flex;
  align-items: center;
  div:first-child {
    flex-grow: 1;
  }
}

img.help-popover {
    height: 18px;
    width: 18px;
    margin: 10px;
}

.more_fields_tab {
  fieldset {
    position: relative;
    margin-bottom: 20px;
    max-width: 600px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    button.field-delete-btn {
      position: absolute;
      right: 10px;
      top: -10px;
    }
  }
}

.form-actions {
  margin-bottom: 0 !important;
}

.dash_block {
  margin-bottom: 30px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  line-height: normal;
}
.select2-container .select2-choice abbr {
  top: 7px;
}
.select2-search-choice-close {
  top: 7px;
}
.select2-container .select2-choice {
  border: none;
}

.form-control.select2-container .select2-choices, 
.datepicker input.select2-container .select2-choices {
 border: none !important;
}

.form-control.select2-container, 
.datepicker input.select2-container {
  margin-bottom: 5px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid $brand-info !important;
}
.select2-results .select2-highlighted {
  background: $brand-info !important;
}
.select2-drop-active {
  border: 1px solid $brand-info !important;
}

@media (min-width: 768px) {
  .form-inline .form-group,
  .table_actions .form-group {
    margin-bottom: 5px;
    min-width: 160px;
  }
  .form-inline .control-label,
  .table_actions .control-label {

    min-width: 160px;
  }
}