{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}add_project_user_form{% endblock %}
{% block form_action %}{% url 'horizon:identity:members:add_member' %}{% endblock %}

{% block modal-header %} Add User to Project {% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>Description:</h3>
    <p>Enter the Nectar username for the user that you want to add to
      this project.
    </p>
    <p>Notes:
      <ol>
        <li>The Nectar username is the email address shown in the
          top right of the dashboard when <i>they</i> login to the
          Nectar Dashboard.
        </li>
        <li>If "Add..." fails, check that the user has <i>already</i> created
          a Nectar account, and that you are using their correct Nectar
          username.  (It <i>may not be</i>  the email address that they
          normally use for correspondence.)
        </li>
     </p>
</div>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:identity:members:index' %}" class="btn btn-default cancel">Cancel</a>
  <input class="btn btn-primary" type="submit" value="Add User to Project" />
{% endblock %}
