{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}add_project_user_form{% endblock %}
{% block form_action %}{% url 'horizon:identity:members:add_member' %}{% endblock %}

{% block modal-header %}{% trans "Add User to Project" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Enter the AAF email address of the user. This is the email address shown in the top right of the dashboard when the user is logged in." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Add User to Project" %}" />
  <a href="{% url 'horizon:identity:members:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
