{% load context_selection %}

<li class="dropdown">
  <h6 class="text-muted text-uppercase mt-0">Select Project</h6>
  <a class="dropdown-toggle btn btn-info" role="button" aria-expanded="false" data-toggle="dropdown" href="#">
    {% show_overview %}
    <span class="fa fa-caret-down"></span>
  </a>
  <ul class="dropdown-menu context-selection selection-menu">

    {% comment %}
    is_multidomain is only available through an assignment tag pulled in through context_selection
    {% endcomment %}
    {% is_multidomain as domain_supported %}
    {% if domain_supported %}
      <li>
        {% show_domain_list %}
      </li>
    {% endif %}
    <li>
      {% show_project_list %}
    </li>

    {% comment %}
    is_multi_region is only available through an assignment tag pulled in through context_selection
    {% endcomment %}
    {% is_multi_region as multi_region %}
    {% if multi_region %}
      <li>
        {% show_region_list %}
      </li>
    {% endif %}
  </ul>
</li>
<div id="project_info">
  {% if request.user.project_name|slice:":3" == "pt-" %}
    <p><small><a href="https://support.ehelp.edu.au/support/solutions/articles/6000171494-project-allocation-expiry-and-renewal#pt" target="_blank">Learn more about project trials <i class="fa fa-chevron-right"></i></a></small></p>
  {% else %}
    <p><small><a href="https://support.ehelp.edu.au/support/solutions/articles/6000171494-project-allocation-expiry-and-renewal" target="_blank">Learn more about allocations <i class="fa fa-chevron-right"></i></a></small></p>
    <h6 class="text-muted text-uppercase">Project Usage <i class="fa fa-question-circle" title="The amount of Service Units (SUs) used by the project to date, out of the SU Budget for the allocation period." data-toggle="tooltip"></i></h6>
    <h4><span id="project_su_used">0</span> / <span id="project_su_budget">0</span> SU</h4>
    <p><small><a href="{% url 'horizon:project:allocation-usage:index' %}">Usage Summary</a> | <a href="{% url 'horizon:project:overview:index' %}">Limit Summary</a></small></p>
  {% endif %}
</div>