{% load static %}
{% load publication_extras %}
{% load countries %}
{% if form %}
    <div class="panel-group" id="request_accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#request_accordion" href="#panelOne">1. Project Details</a>
              </h4>
          </div>
          <div id="panelOne" class="request-collapse panel-collapse collapse">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.project_name %}
                  </div>
                  <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.contact_email %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {% include "rcallocation/field.html" with field=form.project_description %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>
                        Generated project DNS zone name
                        <img class="help-popover" src="/static/rcportal/img/help.png" data-content="This will be the Nectar DNS zone name that will be created for your project. This is based on the project identifer value. See our <a href='https://support.ehelp.edu.au/support/solutions/articles/6000201311' target='_blank'>support documentation</a> for more information." data-original-title="Generated project DNS zone name" data-html="true">
                      </label>
                      <div class="controls">
                        <input id="id_dns_domain" disabled class="form-control" readonly="readonly" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
                  </div>
                  <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.convert_trial_project %}
                  </div>
                </div>
                <div class="row step-nav">
                  <div class="col-xs-12 text-center">
                    <p>Step 1 out of {% if not object or not object.can_have_publications %}9{% else %}10{% endif %}</p>
                    <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelTwo">Next <i class="fa fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
          </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelTwo">2. Usage Information</a>
            </h4>
        </div>
        <div id="panelTwo" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                {% if not object or not object.can_have_publications %}
                   <span class="label label-info">NOTE</span>
                   Estimate the number of users and services that will be supported by the allocation over the next year.
                   Please distinguish between users who will have direct access to the VM instances and those who will use any
                   services that are hosted on the instances.
                   <br/>
                   <br/>
                   <div class="row">
                     <div class="col-sm-12 col-md-6">
                        {% include "rcallocation/field.html" with field=form.multiple_allocations_check %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.direct_access_user_estimate %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.estimated_service_count %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.estimated_service_active_users %}
                     </div>
                {% else %}
                   <span class="label label-info">NOTE</span>
                   Specify the number of users of your project allocation over the past year.
                   Estimated number of users and services that have been supported by the allocation over the past year.
                   Please distinguish between users who have direct access to the VM instances and those who have used any services
                   that are hosted on the instances. If your project has multiple Nectar project allocations, only provide these
                   numbers for one of the allocations to avoid double counting.
                   <br/>
                   <br/>
                   <div class="row">
                     <div class="col-sm-12 col-md-6">
                        {% include "rcallocation/field.html" with field=form.multiple_allocations_check %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.direct_access_user_past_year %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.active_service_count %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.service_active_users_past_year %}
                     </div>
                     <div class="col-sm-12 col-md-8 toggleable">
                       {% include "rcallocation/field.html" with field=form.users_figure_type %}
                     </div>
                {% endif %}
                     <div class="col-sm-12 col-md-8">
                       {% include "rcallocation/field.html" with field=form.use_case %}
                     </div>
                   </div>
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 2 out of {% if not object or not object.can_have_publications %}9{% else %}10{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelOne"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelThree">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelThree">3. Fields of Research (FOR)</a>
            </h4>
        </div>
        <div id="panelThree" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <span class="label label-info">NOTE</span>
                  Please enter at least 1 and up to 3 {{for_series}} Field of Research (FoR)
                  codes for the area(s) of research supported by this allocation
                  request, and set percentages adding up to a total of 100%. Please see
                  <a href="https://support.ehelp.edu.au/support/solutions/articles/6000241729">
                    How to use FoR codes in the Nectar Allocation request form</a>
                  for more details. Please provide FoR codes for your research areas,
                  not your research methodologies.
                  <br/>
                  <br/>
                  {% for error in form.get_for_errors %}
                  <div class="has-error">
                    <span class="help-block">{{error}}</span>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  {% for group in form.grouped_fields %}
                  <div class="form-group">
                    {% for field in group %}
                      {% if forloop.first %}
                        <label>{{ field.label }}</label>
                      {% endif %}
                      <div class="controls">
                        {% if field.errors %}
                          <div class="has-error">
                          {{ field }}
                          {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                          {% endfor %}
                          </div>
                        {% else %}
                          {{ field }}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 3 out of {% if not object or not object.can_have_publications %}8{% else %}9{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelTwo"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelFour">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelFour">4. Supported Institutions</a>
            </h4>
        </div>
        <div id="panelFour" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <span class="label label-info">NOTE</span>
                  Specify the Universities and other Research Organisations that will
                  be supported by the allocation. Alternatively you can select 'All Organisations'.
                  <br/>
                  <br/>
                  {% include "rcallocation/organisation_field.html" with field=form.supported_organisations field_marker="supported_organisations" %}
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 4 out of {% if not object or not object.can_have_publications %}8{% else %}9{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelThree"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelFive">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelFive">5. Investigator</a>
            </h4>
        </div>
        <div id="panelFive" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div id="investigator_formset">
                  {{ investigator_formset.management_form }}
                  {% for investigator_form in investigator_formset.forms %}
                  {% include "rcallocation/investigator_form.html" %}
                  {% endfor %}
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 5 out of {% if not object or not object.can_have_publications %}8{% else %}9{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelFour"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelSix">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelSix">6. Project Support</a>
            </h4>
        </div>
        <div id="panelSix" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  {% include "rcallocation/medium_field.html" with field=form.ardc_support %}
                  {% include "rcallocation/medium_field.html" with field=form.ardc_explanation %}
                  {% if not form.ardc_support.value and object and object.nectar_support %}
                  <div class="alert alert-warning" role="alert">
                    <p>Please reenter the following information in the ARDC Support and explanation fields above.  If the info is erroneous or redundant, please raise a Nectar support request asking for it to be manually removed from the allocation system.</p>
                    <p>Old Nectar Support information: "{{ object.nectar_support }}"</p>
                  </div>
                  {% endif %}
                  {% include "rcallocation/medium_field.html" with field=form.ncris_facilities %}
                  {% include "rcallocation/medium_field.html" with field=form.ncris_explanation %}
                  {% if not form.ncris_facilities.value and object and object.ncris_support %}
                  <div class="alert alert-warning" role="alert">
                    <p>Please reenter the following information in the NCRIS Facilities and NCRIS Support explanation fields above.  If the info is erroneous or redundant, please raise a Nectar support request asking for it to be manually removed from the allocation system.</p>
                    <p>Old NCRIS Support information: "{{ object.ncris_support }}"</p>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 6 out of {% if not object or not object.can_have_publications %}8{% else %}9{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelFive"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelSeven">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelSeven">7. Research Grant Information</a>
            </h4>
        </div>
        <div id="panelSeven" class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  {% if grant_formset.non_form_errors %}
                    <div class="alert alert-danger" role="alert">
                      {{ grant_formset.non_form_errors }}
                    </div>
                  {% endif %}
                  <p><span class="label label-info">NOTE</span> Research grant information aids in the assessment of research allocations and indicates the scale of the research supported. You must put at least one grant, or specify you have no grants for the project</p>
                  <p>A National project allocation request can only be approved if the project is:</p>
                  <ul>
                    <li>funded through a <a href="https://docs.education.gov.au/system/files/doc/other/2018_acgr_listing_final.pdf">national competitive research grant</a></li>
                    <li>funded by, or supports, a <a href="https://www.education.gov.au/funded-research-infrastructure-projects">National Collaborative Research Infrastructure Strategy</a> (NCRIS) capability, including ARDC, Nectar, ANDS or RDS (e.g. a Virtual Laboratory)</li>
                    <li>approved by the Nectar Allocation Committee (as per the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000191233-research-cloud-national-allocation-scheme-rc-nas-policy-">RC-NAS Policy</a>).
                  </ul>
                  <p>Note that if a project meets the above criteria, it is not automatically entitled to a national allocation. In some cases it may be more suited to a local allocation.</p>
                  <p>If your project is not eligible for a national allocation it may receive a local (node-prioritised) allocation at a particular node.</p>
                  <p>If your project is supported by NCRIS or ARDC, record that information in the separate fields at the end of this form.  Please do not record it as a research grant.</p>
                  <br/>
                  <div class="grant_formset">
                    {{ grant_formset.management_form }}
                    {% include "rcallocation/grant_form.html" %}
                  </div>
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 7 out of {% if not object or not object.can_have_publications %}8{% else %}9{% endif %}</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelSix"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelEight">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default {% if not object or not object.can_have_publications %}hidden{% endif %}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelEight">8. Publication/Output and Impact</a>
            </h4>
        </div>
        <div {% if object.can_have_publications %}id="panelEight"{%endif%} class="request-collapse panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="publication_formset">
                  <div class="col-xs-12">
                    <span class="label label-info">NOTE</span>
                    List any publications or other research outputs from work on this project
                    that has been supported by use of the Nectar cloud.
                    <br/>
                    <br/>
                    {{ publication_formset.management_form }}
                    {% include "rcallocation/publication_form.html"%}
                  </div>
                </div>
                <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.nectar_benefit_description %}
                  </div>
                  <div class="col-md-6">
                    {% include "rcallocation/field.html" with field=form.nectar_research_impact %}
                </div>
              </div>
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  <p>Step 8 out of 9</p>
                  <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelSeven"><i class="fa fa-chevron-left"></i> Previous</a>
                  <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#request_accordion" href="#panelNine">Next <i class="fa fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              {% if not object or not object.can_have_publications %}
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelEight">8. Continue</a>
              {% else %}
                <a data-toggle="collapse" data-parent="#request_accordion" href="#panelNine">9. Continue</a>
              {% endif %}
            </h4>
        </div>
        <div id="{% if not object or not object.can_have_publications %}panelEight{% else %}panelNine{% endif %}" class="request-collapse panel-collapse collapse">
            <div class="panel-body text-center pb-5">
              <div class="row step-nav">
                <div class="col-xs-12 text-center">
                  {% if not object or not object.can_have_publications %}
                    <p>Step 8 out of 8</p>
                    <h3>Continue to select cloud resources.</h3>
                    <div class="form-actions">
                        <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelSeven"><i class="fa fa-chevron-left"></i> Previous</a>
                        <a href="#" class="btn btn-sm btn-success show-form2-button continue-button">Continue</a>
                    </div>
                  {% else %}
                    <p>Step 9 out of 9</p>
                    <h3>Continue to select cloud resources.</h3>
                    <div class="form-actions">
                        <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#request_accordion" href="#panelEight"><i class="fa fa-chevron-left"></i> Previous</a>
                        <a href="#" class="btn btn-sm btn-success show-form2-button continue-button">Continue</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
{% endif %}
