{% load static %}
{% load bundles %}

{% if form %}
    <div class="panel-group" id="resources_accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#resources_accordion" href="#panelBundle">1. Resource Bundles</a>
                </h4>
            </div>
            <div id="panelBundle" class="request-collapse panel-collapse collapse">
                <div class="panel-body">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <h3>Resource Bundle</h3>
                            <h5>Select the most suitable <a href="https://support.ehelp.edu.au/support/solutions/articles/6000271205" target="_blank">Resource Bundle</a> for your project needs...</h5>
                        </div>
                    </div>
                    <div class="row-fluid equal">
                        {% for bundle in bundles %}
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <div class="bundle" data-bundle="{{ bundle.id }}" data-suyear="{{ bundle.su_per_year }}">
                                    {% if forloop.first %}
                                        <div class="badge bg-danger bundle-badge">Most Popular!</div>
                                    {% endif %}
                                    <h4>{{ bundle.name }}</h4>
                                    <h3><span class="bundle-budget">{{ bundle.su_per_year }}</span> SU / <span class="bundle-duration">yr</span></h3>
                                    <p>{{ bundle.description }}</p>
                                    <ul class="features">
                                        <li>Runs {% bundle_quota bundle "compute.cores" 0.25 %} VCPUs continuously (max {% bundle_quota bundle "compute.cores" %} VCPUs at one time)</li>
                                        <li>Up to {% bundle_quota bundle "compute.instances" %} instances</li>
                                        <li>{% bundle_quota bundle "object.object" %} GB Object Storage</li>
                                    </ul>
                                    <a href="#" class="btn btn-default">
                                        <span class="not-selected">Select {{ bundle.name }}</span>
                                        <span class="selected"><i class="fa fa-check"></i> Selected</span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="bundle">
                                <h4 class="mb-5">Custom</h4>
                                <p>For advanced cloud users with a specific set of resource requirements. Users must be able to estimate their requested SU budget using the methods suggested in <a href="https://support.ehelp.edu.au/support/solutions/articles/6000257485-how-to-estimate-a-service-unit-budget" target="_blank">this guide</a>.</p>
                                <a href="#" data-toggle="modal" data-target="#modal-custom-bundle" class="btn btn-default">
                                    <span class="not-selected">Select Custom</span>
                                    <span class="selected"><i class="fa fa-check"></i> Customise</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">{{ form.bundle }}</div>
                    <div class="row mt-4">
                        <div class="col-sm-12 text-center">
                            <p>For more details on the limits included in each Resource Bundle, please read our <a href="https://support.ehelp.edu.au/support/solutions/articles/6000271206" target="_blank">Resource Bundle Table support article</a>. Nectar resources are bundled with a Service Unit budget and limits for each resource. A <a href="https://support.ehelp.edu.au/support/solutions/articles/6000257023" target="_blank">Service Unit (SU)</a> is a measure of the cost of using Nectar compute resources, e.g. <strong>1000 SU = 1 m3.medium 4 core instance for 1 year</strong>. Consuming resources to the maximum limit for the full allocation period does not equate to the bundle SU budget. For more details, checkout <a href="https://support.ehelp.edu.au/support/solutions/articles/6000205341" target="_blank">Nectar Flavors support article</a>.</p>
                        </div>
                    </div>
                    <div class="row step-nav">
                        <div class="col-xs-12 text-center">
                            <p>Step 1 out of 4</p>
                            <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#resources_accordion" href="#panelExtras">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#resources_accordion" href="#panelExtras">2. Location Specific Resources</a>
                </h4>
            </div>
            <div id="panelExtras" class="request-collapse panel-collapse collapse">
                <div class="panel-body">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <h3>Location Specific Cloud Resources</h3>
                            <h5>The following additional resources can be requested for specific locations.</h5>
                            <p>Not sure if you need additional resources? For more information read the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000272093">Location Specific Resources support article</a>.</p>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-lg-8 col-lg-offset-2">
                            {% for st, zones in form.multi_zone_quota_fields %}
                                <div class="extra-resource mb-4" style="display: flex;">
                                    <div class="pt-1 pr-4">
                                        <input type="checkbox" data-toggle="toggle" class="resource-toggle" id="{{ st.catalog_name }}" />
                                    </div>
                                    <div style="flex-grow: 1;">
                                        <h4>{{ st }}</h4>
                                        <p class="mb-4">{{ st.description|safe }}</p>
                                        {% if st.catalog_name == 'volume' %}
                                            <fieldset hidden>
                                                <legend>Zones</legend>
                                                {% for zone, fields in zones.items %}
                                                    {% for field in fields %}
                                                        <div class="form-horizontal">
                                                            <div class="form-group {% if field.errors %}has-error{% endif %}"
                                                            id="id_{{ field.html_name }}-group" {% if hide %}hidden{% endif %}>
                                                                <label for="id_{{ field.html_name }}" class="control-label text-capitalize col-xs-12 col-sm-6 col-md-4">
                                                                    {{ zone }}&nbsp;{{ field.label }}
                                                                    {% if field.help_text %}
                                                                        <img class="help-popover" src="{% static 'rcportal/img/help.png' %}" data-content="{{ field.help_text }}" data-original-title="{{ field.label }}" data-html="true">
                                                                    {% endif %}
                                                                </label>
                                                                <div class="col-xs-12 col-sm-6 col-md-4">
                                                                    <div class="input-group resource-zone">
                                                                        {{ field }}
                                                                        <span class="input-group-addon">{{ field.field.resource.unit }}</span>
                                                                    </div>
                                                                    {% for error in field.errors %}
                                                                        <span class="help-block">{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endfor %}
                                            </fieldset>
                                        {% else %}
                                            {% for zone, fields in zones.items %}
                                                <fieldset class="boxed-field" hidden>
                                                    <legend>{{ zone }}</legend>
                                                    {% for field in fields %}
                                                        <div class="form-horizontal">
                                                            <div class="form-group {% if field.errors %}has-error{% endif %}"
                                                            id="id_{{ field.html_name }}-group" {% if hide %}hidden{% endif %}>
                                                                <label for="id_{{ field.html_name }}" class="control-label col-xs-12 col-sm-6 col-md-4">
                                                                    {{ field.label }}
                                                                    {% if field.help_text %}
                                                                        <img class="help-popover" src="{% static 'rcportal/img/help.png' %}" data-content="{{ field.help_text }}" data-original-title="{{ field.label }}" data-html="true">
                                                                    {% endif %}
                                                                </label>
                                                                <div class="col-xs-12 col-sm-6 col-md-4">
                                                                    <div class="input-group resource-zone">
                                                                        {{ field }}
                                                                        <span class="input-group-addon">{{ field.field.resource.unit }}</span>
                                                                    </div>
                                                                    {% for error in field.errors %}
                                                                        <span class="help-block">{{ error }}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </fieldset>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row step-nav">
                        <div class="col-xs-12 text-center">
                            <p>Step 2 out of 4</p>
                            <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#resources_accordion" href="#panelBundle"><i class="fa fa-chevron-left"></i> Previous</a>
                            <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#resources_accordion" href="#panelJustification">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#resources_accordion" href="#panelJustification">3. Resource Justification</a>
                </h4>
            </div>
            <div id="panelJustification" class="request-collapse panel-collapse collapse">
                <div class="panel-body">
                    <div class="row mb-4">
                        <div class="col-sm-12 text-center">
                            <h3>Resource Justification</h3>
                            <h5>Provide some information about the project to justify your selected resources.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {% include "rcallocation/field.html" with field=form.usage_patterns %}
                        </div>
                        <div class="col-md-6">
                            {% include "rcallocation/field.html" with field=form.geographic_requirements %}
                        </div>
                        <div class="col-xs-12">
                            {% include "rcallocation/field.html" with field=form.usage_types %}
                        </div>
                    </div>
                    <div class="row step-nav">
                        <div class="col-xs-12 text-center">
                            <p>Step 3 out of 4</p>
                            <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#resources_accordion" href="#panelExtras"><i class="fa fa-chevron-left"></i> Previous</a>
                            <a class="btn btn-sm btn-success btn-next-step" data-toggle="collapse" data-parent="#resources_accordion" href="#panelSubmit">Next <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#resources_accordion" href="#panelSubmit">4. Submit</a>
                </h4>
            </div>
            <div id="panelSubmit" class="request-collapse panel-collapse collapse">
                <div class="panel-body">
                    <div class="row step-nav">
                        <div class="col-xs-12 text-center">
                            <p>Step 4 out of 4</p>
                            <h3>Are you ready to submit your allocation request?</h3>
                            <div class="form-actions">
                                <a class="btn btn-sm btn-default" data-toggle="collapse" data-parent="#resources_accordion" href="#panelJustification"><i class="fa fa-chevron-left"></i> Previous</a>
                                <input class="btn btn-sm btn-success submit-form-button" type="submit" value="Submit">
				{% if warnings|length > 0 %}
				<input class="btn btn-sm btn-success submit-form-button" type="button"
				       onClick="submit_ignore()" value="Submit ignoring warnings">
				{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Custom Bundle Modal -->
    <div id="modal-custom-bundle" class="modal modal-bordered" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            <h4 class="modal-title">Custom Bundle</h4>
          </div>
          <div class="modal-body">
            <div class="row mb-4">
                <div class="col-sm-12 text-center">
                    <h4>Request custom resource limits for your allocation</h4>
                    <p>(Fields are prefilled with the same limits as the Extreme Bundle to assist customisation).</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {% for st, fields in form.single_zone_quota_fields %}
                    <fieldset>
                        <legend>{{ st }}</legend>
                        <div class="row">
                            <div class="col-xs-8">
                            {% for field in fields %}
                                <div class="form-horizontal">
                                    <div class="form-group {% if field.errors %}has-error{% endif %}"
                                    id="id_{{ field.html_name }}-group" {% if hide %}hidden{% endif %}>
                                        <label for="id_{{ field.html_name }}" class="col-xs-12 col-sm-6">
                                            {{ field.label }}
                                            {% if field.help_text %}
                                                <img class="help-popover" src="{% static 'rcportal/img/help.png' %}" data-content="{{ field.help_text }}" data-original-title="{{ field.label }}" data-html="true">
                                            {% endif %}
                                        </label>
                                        <div class="col-xs-12 col-sm-6">
                                            {% if field.field.resource.resource_type == "integer" %}
                                                <div class="input-group">
                                                    {{ field }}
                                                    <span class="input-group-addon">{{ field.field.resource.unit }}</span>
                                                </div>
                                            {% else %}
                                                {{ field }}
                                            {% endif %}

                                            {% for error in field.errors %}
                                                <span class="help-block">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="col-xs-4">
                                <p>{{ st.description|safe }}</p>
                            </div>
                        </div>
                    </fieldset>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}
