{% extends 'horizon/_scripts.html' %}
{% block custom_js_files %}
<script src='{{ STATIC_URL }}rcportal/js/allocation/utils.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/form-nav.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/dns-service-name.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/institution-modals.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/grants-formset.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/publications-formset.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/doi-checker.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/organisation-propose.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/page-init.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}rcportal/js/allocation/data-classification.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}
