{% extends 'rcallocation/allocationrequest_detail_base.html' %}
{% load url from future %}
{% block detail_actions %}
  {% if allocation.amendment_requested %}
    {% if allocation.can_approve_change %}
      <div class="col-sm-2">
        <a href="{% url 'horizon:allocation:requests:approve_change_request' allocation.pk %}"
           class="btn btn-success"
           id="allocation_accept_view">
          Approve changes
        </a>
      </div>
      <div class="col-sm-offset-4">
        <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
           class="btn btn-danger"
           id="allocation_reject_view">
          Decline changes (or ask for amendments)
        </a>
      </div>
    {% endif %}
  {% elif allocation.can_be_approved %}
    <div class="col-sm-2">
      <a href="{% url 'horizon:allocation:requests:approve_request' allocation.pk %}"
         class="btn btn-success"
         id="allocation_accept_view">
        Approve request
      </a>
    </div>
    <div class="col-sm-offset-4">
      <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
         class="btn btn-danger"
         id="allocation_reject_view">
        Decline request (or ask for more detail)
      </a>
    </div>
  {% endif %}
{% endblock %}
