{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Decline or Request Amendment from User{% endblock title %}

{% block sidebar %}
    {% with current_sidebar="allocation" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page_header %}
    {{ block.super }}
    {% include "horizon/common/_page_header.html" with title="Decline or request amendment from user" %}
{% endblock page_header %}

{% block js %}
  {{ block.super }}
  <script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}rcportal/js/jquery.mDialog.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}

{% block description %}
Reject a request, or specify changes a user needs to make to an allocation request before it can be accepted.
{% endblock description %}

{% block form_action %}{% url 'horizon:project:requests:reject_request' object.pk %}{% endblock %}
