{% extends 'rcallocation/allocationrequest_detail_base.html' %}

{% block detail_actions %}
{% if allocation.can_user_edit %}
  <a href="{% url 'horizon:allocation:user_requests:edit_request' allocation.pk %}"
     class="btn btn-default"
     id="allocation_edit_view">
    Edit request
  </a>
{% elif allocation.can_user_edit_amendment %}
  <a href="{% url 'horizon:allocation:user_requests:edit_change_request' allocation.pk %}"
     class="btn btn-default"
     id="allocation_edit_change_view">
    Edit change request
  </a>
{% elif allocation.can_be_amended %}
  <a href="{% url 'horizon:allocation:user_requests:edit_change_request' allocation.pk %}"
     class="btn btn-default"
     id="allocation_edit_change_view">
    Request amendment
  </a>
{% endif %}

{% endblock %}
