{% extends 'rcallocation/base.html' %}

{% load static %}

{% block sidebar %}
{% with current_sidebar="allocation" %}
  {{ block.super }}
{% endwith %}
{% endblock %}

{% block css %}
{{ block.super }}
<style>
  .panel-default > .panel-heading {
    background-color: #f5f5f5;
  }
</style>
{% endblock %}

{% block js %}
  <script>
    function isNewAllocationRequest() {
      return {% if object.pk %} false; {% else %} true; {% endif %}
    }
  </script>
  {{ block.super }}
{% endblock %}

{% block main %}
<div class="dash_block">
  <div>{% block description %}{% endblock description %}</div>
  <hr/>
  <blockquote>
    <strong>Info:</strong>
    Required fields are marked with an <span class="glyphicon glyphicon-asterisk text-secondary"></span>
    sign.
  </blockquote>
  {% if warnings|length > 0 %}
    {% include "rcallocation/warnings.html" %}
  {% elif form.errors %}
    <div class="alert alert-danger" role="alert">Please fix the errors highlighted below and resubmit.</div>
  {% endif %}
  <form id="new-allocation"
        action="{% block form_action %}{% endblock %}"
        method="post" novalidate="novalidate">
    <fieldset>
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.project_name %}
        </div>
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.contact_email %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.project_description %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
        </div>
      </div>
      {% for error in form.get_for_errors %}
      <div class="control-group error">
        <span class="help-inline">{{ error }}</span>
      </div>
      {% endfor %}
      {% block quotas %}
      {% endblock %}
      <br/>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="list-group-item-heading">Allocation Classification</h4>
            </div>
            <div class="panel-body">
              {% include "rcallocation/inline_field.html" with field=form.associated_site field2=form.national %}
              {% include "rcallocation/field.html" with field=form.special_approval %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% include "rcallocation/field.html" with field=form.status_explanation %}
        </div>
      </div>
    </fieldset>
    <div class="form-actions my-5">
      {% block submit_buttons %}
      <input type="submit" value="Submit" class="btn btn-primary"/>
      {% endblock %}
    </div>
    <script>
      /* For browsers that don't recognize the autofocus attribute... */
      if (!("autofocus" in document.createElement("input"))) {
        document.getElementById("id_project_description").focus();
      }
    </script>
  </form>
</div>
{% endblock %}
