{% extends 'base.html' %}
{% load url from future %}

{% block title %}Allocation Request{% endblock title %}

{% block sidebar %}
  {% with current_sidebar="allocation" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {{ block.super }}
  {% include "horizon/common/_page_header.html" with title="Allocation Request" %}
{% endblock page_header %}

{% block js %}
  {{ block.super }}
  <script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}rcportal/js/jquery.mDialog.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}

{% block main %}
  <div class="dash_block">
    <div>
      {% block form_intro %}
        <br/>
        <p>
          This form allows you to request a project specific
          allocation on the research cloud.
        </p>
        <br/>
        Allocations take up to 2 to 3 weeks to process. If you have any questions please email <a href="mailto:allocations@nectar.org.au">allocations@nectar.org.au</a>
        </p>
        <p>
          <span class="label label-info">Note:</span>
          If you would like to request an extension or amendment of an existing allocation, please
          use the <i>Amend/Extend allocation</i> action on the existing allocation request on the
          <a href="{% url 'horizon:allocation:user_requests:index' %}">My Requests</a> page.
          <p>
      {% endblock %}
    </div>
    <hr/>
    <blockquote>
      <strong>Info:</strong>
      Required fields are marked with an <span class="glyphicon glyphicon-asterisk text-primary"></span>
      sign.
    </blockquote>
    {% if form.errors or quotaFormSet.errors or institutionFormSet.errors or investigatorFormSet.errors or publicationFormSet.errors or grantFormSet.errors%}
    <div class="alert alert-danger" role="alert">Please fix up the below errors</div>
    {% endif %}
    <form id="new-allocation"
          action="{% block form_action %}{% url 'horizon:allocation:request:request' %}{% endblock %}"
          method="post">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.tenant_name %}
        </div>
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.contact_email %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% include "rcallocation/field.html" with field=form.project_name %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% include "rcallocation/field.html" with field=form.start_date %}
          {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
          {% block convert_trial_project %}
            {% include "rcallocation/field.html" with field=form.convert_trial_project %}
          {% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Compute Resources</h2>
          <hr/>
          <span class="label label-info">Note:</span> Specify the maximum
            compute infrastructure that your project will need access to.
            This quota can be extended at a later date if more resources
            are required. The overall availability of resources may vary
            over time and at different locations. Resource may not always
            be available.
          <br/><br/>
          {% include "rcallocation/field.html" with field=form.instances %}
          {% include "rcallocation/field.html" with field=form.cores %}
          {% include "rcallocation/field.html" with field=form.core_hours %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Cloud Resources</h2>
          There are supplementary cloud resources offered by the NeCTAR
          Research Cloud that you may wish to use. Each of these resources
          has its own quota that you can apply for.
          <table class="table">
            <tr>
              <th>Volume storage</th>
              <td>
                A persistent volume looks and acts like a hard
                drive that can be attached to your virtual
                machines. The data on it will persist between
                runs of your virtual machine. Specify the total
                size in gigabytes that the project will
                need. More information is available on the <a href="https://support.nectar.org.au/support/solutions/articles/6000055382-introduction-to-cloud-storage">Introduction to Cloud Storage support page</a>.</td>
            </tr>
            <tr>
              <th>Object storage</th>
              <td>
                Object Storage is a large accessible online
                storage location that you can reach from most
                machines with internet connectivity. Object Storage
                requires cloud native applications for access. Specify the
                total size in gigabytes that the project will need. More
                information is available on the <a href="https://support.nectar.org.au/support/solutions/articles/6000061932-introduction-to-object-storage">Object Storage support page</a>.</td>
            </tr>
            <tr>
              <th>Database</th>
              <td>
                The Nectar database service provides a simple interface for
                provisioning and managing database engines supporting MySQL,
                with PostgreSQL and MongoDB coming soon.
                You can specify the number of database servers, the total
                database storage your project would require, or both.
                More information is available on the <a href="https://support.ehelp.edu.au/solution/articles/6000178670-nectar-database-service">Database service support page</a>.</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="quota_formset">
        {{ quotaFormSet.management_form }}
        <div class="quotas">
          {% for quota_form in quotaFormSet.forms %}
            {% include "rcallocation/quota_form.html" %}
          {% endfor %}
        </div>
        <div>
            <input type="button" value="Add quota" id="add_more"/>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-12">
          <h2>Usage Information</h2>
          <hr/>
          {% include "rcallocation/field.html" with field=form.use_case %}
          {% include "rcallocation/field.html" with field=form.usage_patterns %}
          {% include "rcallocation/field.html" with field=form.allocation_home %}
          {% include "rcallocation/field.html" with field=form.geographic_requirements %}
          {% include "rcallocation/field.html" with field=form.estimated_number_users %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
        <h2>Fields of Research (FOR)</h2>
          <hr/>
          <span class="label label-info">Note:</span>
            {% autoescape off %}
                Please select up to 3 Fields of Research (FOR)
                codes describing your work, adding up to a total
                of 100%. For more information on FOR codes please
                refer to the following <a href="http://www.abs.gov.au/Ausstats/abs@.nsf/Latestproducts/6BB427AB9696C225CA2574180004463E?opendocument">website</a>
            {% endautoescape %}
          <br/>
          <br/>
          {% for error in form.get_for_errors %}
            <div class="form-group has-error">
              <span class="help-block">{{error}}</span>
            </div>
          {% endfor %}
         </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          {% for group in form.grouped_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
              {% for field in group %}
                {% if forloop.first %}
                  <label>{{ field.label }}</label>
                {% endif %}
                {{ field }}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
          <div class="institution_formset">
             <div class="col-md-12">
                 <h2>Supported Institutions</h2>
                 <hr/>
                 <span class="label label-info">Note:</span>
                    Specify which universities or research institutions will
                 be supported by the application or specify 'all'.
                 <br/>
                 <br/>
                 {{ institutionFormSet.management_form }}
                 {% if institutionFormSet.forms %}
                     {% include "rcallocation/institution_form.html" with field=institutionFormSet.forms.0.name %}
                 {% endif %}
             </div>
          </div>
      </div>

      <div class="row">
          <div id="investigator_formset">
              {{ investigatorFormSet.management_form }}
              {% for investigator_form in investigatorFormSet.forms %}
                {% include "rcallocation/investigator_form.html" %}
              {% endfor %}
          </div>
      </div>

      <div class="row">
          <div class="publication_formset">
             <div class="col-md-12">
                 <h2>Publication/Output</h2>
                 <hr/>
                 <span class="label label-info">Note:</span>
                 List citations of any related research outputs, including
                 traditional publications and non-traditional outputs.
                 <br/>
                 <br/>
                   {{ publicationFormSet.management_form }}
                   {% include "rcallocation/publication_form.html"%}
             </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Research Grant Information</h2>
          <hr/>
          <span class="label label-info">Note:</span>
            Research grant information aids in the assessment of research allocations and
            indicates the scale of the research supported.
          <br/>
          <br/>
          <div class="grant_formset">
              {{ grantFormSet.management_form }}
              {% include "rcallocation/grant_form.html" %}
          </div>
        </div>
        <div class="col-md-12">
            {% include "rcallocation/medium_field.html" with field=form.nectar_support %}
            {% include "rcallocation/medium_field.html" with field=form.ncris_support %}
        </div>
      </div>
      <div class="form-actions">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
      <script>
       /* For browsers that don't recognize the autofocus attribute... */
       if (!("autofocus" in document.createElement("input"))) {
         document.getElementById("id_project_name").focus();
       }

       $(document).ready(function() {
         $('div#quota_formset').formset({
           prefix: 'quotas',
           storage_zones: {{ storage_zones|safe }},
           storage_units: {{ storage_units|safe }},
           form_tmpl: '{{quotaFormTmpl|escapejs}}'
         });
       });

       $(document).ready(function() {
         $('div.institution_formset').mformset({
             prefix: 'institutions',
             formset_class_id: 'institution_formset',
             field_name: 'name'
         });
       });

       $(document).ready(function() {
         $('div.publication_formset').mformset({
             prefix: 'publications',
             formset_class_id: 'publication_formset',
             field_name: 'publication',
             input_style_css:'medium_width',
             show_label:true
         });
       });

       $(document).ready(function() {
         $('div.grant_formset').gformset({
             prefix: 'grants',
             formset_class_id: 'grant_formset'
         });
       });
      </script>
    </form>
  </div>

{% endblock %}
