{% extends 'base.html' %}

{% block sidebar %}
{% with current_sidebar="allocation" %}
  {{ block.super }}
{% endwith %}
{% endblock %}

{% block css %}
{{ block.super }}
<style>
  .panel-default > .panel-heading {
    background-color: #f5f5f5;
  }
</style>
{% endblock %}

{% block js %}
{{ block.super }}
  <script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
  <script>
    function isNewAllocationRequest() {
      return {% if object.pk %} false; {% else %} true; {% endif %}
    }
  </script>
{% endblock %}

{% block main %}
<div class="dash_block">
  <div>{% block description %}{% endblock description %}</div>
  <hr/>
  <blockquote>
    <strong>Info:</strong>
    Required fields are marked with an <span class="glyphicon glyphicon-asterisk text-primary"></span>
    sign.
  </blockquote>
  {% if warnings|length > 0 %}
  {% include "rcallocation/warnings.html" %}
  {% elif form.errors %}
  <div class="alert alert-danger" role="alert">Please fix the errors highlighted below and resubmit</div>
  {% endif %}
  <form id="new-allocation"
        action="{% block form_action %}{% endblock %}"
        method="post" novalidate="novalidate">
    <fieldset>
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.project_name %}
        </div>
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.contact_email %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.project_description %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
        </div>
      </div>
      {% for error in form.get_for_errors %}
      <div class="control-group error">
        <span class="help-inline">{{ error }}</span>
      </div>
      {% endfor %}
      {% block quotas %}
      <div class="row">
        <div class="col-md-12">
          <h2>Cloud Resources</h2>
          <div id="quota_formset">
	    {% for service_type, form_tuple in quota_formsets %}
            <div id="panel-quota-{{ service_type.catalog_name }}" class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="list-group-item-heading">{{ service_type.name }}</h4>
                  <p class="list-group-item-text">{{ service_type.description|safe }}</p>
                </div>
                <div class="panel-collapse collapse in">
                  <div id="panel-{{ service_type.catalog_name }}" class="panel-body panel-quota">
                    <div id="quotas-{{ service_type.catalog_name }}" class="quotas">
                      {% for group_form, formset in form_tuple %}
                        <div class="panel panel-default">
                          <div class="panel-heading"><h4>{{ group_form.instance.zone }} Zone</h4></div>
                          <div class="panel-body">
                            {% for hidden in group_form.hidden_fields %}
                              {{ hidden }}
                            {% endfor %}
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                              {% include "rcallocation/quota_admin_form.html" %}
                            {% endfor %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
         </div>
        </div>
      </div>
      {% endblock %}
      <br/>
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="list-group-item-heading">Allocation Classification</h4>
            </div>
            <div class="panel-body">
              {% include "rcallocation/inline_field.html" with field=form.associated_site field2=form.national %}
              {% include "rcallocation/field.html" with field=form.special_approval %}
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% include "rcallocation/field.html" with field=form.status_explanation %}
        </div>
      </div>
    </fieldset>
    <div class="form-actions">
      {% block submit_buttons %}
      <input type="submit" value="Submit" class="btn btn-primary"/>
      {% endblock %}
    </div>
    <script>
      /* For browsers that don't recognize the autofocus attribute... */
      if (!("autofocus" in document.createElement("input"))) {
        document.getElementById("id_project_description").focus();
      }
      $(document).ready(function() {
        $('div#quota_formset').formset({
          prefix: 'quotas',
          service_types: {{ service_types|safe }},
          resources: {{ resources|safe }},
          zones: {{ zones|safe }},
          quota_limits: {{ quota_limits|safe }},
        });
      });
    </script>
  </form>
</div>
{% endblock %}
