{% extends 'base.html' %}
{% load publication_extras %}

{% block title %}Allocation Request{% endblock title %}

{% block css %}
{{ block.super }}
{{ form.media.css }}
<style>
  .panel-default > .panel-heading {
    background-color: #f5f5f5;
  }
</style>
{% endblock %}

{% block sidebar %}
{% with current_sidebar="allocation" %}
  {{ block.super }}
{% endwith %}
{% endblock %}

{% block breadcrumb_nav %}
{% if object %}
<ol class="breadcrumb">
  <li class="breadcrumb-item-truncate">Allocations</li>
  <li class="breadcrumb-item-truncate"><a href="/allocation/user_requests/">My Requests</a></li>
  <li class="breadcrumb-item-truncate active">{{ object.project_name }}</li>
</ol>
{% else %}
<ol class="breadcrumb"><li class="breadcrumb-item-truncate active">New Request</li></ol>
{% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
<script>
  function isNewAllocationRequest() {
    return {% if object %} false; {% else %} true; {% endif %}
  }
</script>
{% endblock %}

{% block main %}
<div class="dash_block">
  <div>
    {% block form_intro %}
    <br/>
    <p>
      This form allows you to request a project specific
      allocation on the Nectar Research Cloud.
    <br/>
    Allocations take up to 3 weeks to process. If you have any questions please email <a href="mailto:support@nectar.org.au">support@nectar.org.au</a>
    </p>
    <p>
      <span class="label label-info">Note:</span>
      If you would like to request an extension or amendment of an existing allocation, please
      use the <i>Amend/Extend allocation</i> action on the existing allocation request on the
      <a href="{% url 'horizon:allocation:user_requests:index' %}">My Requests</a> page.
    </p>
      {% endblock %}
  </div>
  <hr/>
  <blockquote>
    <strong>Info:</strong>
    Required fields are marked with an <span class="glyphicon glyphicon-asterisk text-primary"></span>
    sign.
  </blockquote>
  {% if warnings|length > 0 %}
  {% include "rcallocation/warnings.html" %}
  {% elif form.errors or institution_formset.errors or investigator_formset.errors or publication_formset.errors or grant_formset.errors or grant_formset.non_form_errors %}
  <div class="alert alert-danger" role="alert">Please fix the errors highlighted below and resubmit</div>
  {% endif %}
  <form id="new-allocation"
        action="{% block form_action %}{% url 'horizon:allocation:request:request' %}{% endblock %}"
        method="post" novalidate="novalidate">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <div class="row">
      <div class="col-md-4">
        {% include "rcallocation/field.html" with field=form.project_name %}
      </div>
      <div class="col-md-8">
        {% include "rcallocation/field.html" with field=form.contact_email %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {% include "rcallocation/field.html" with field=form.project_description %}
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label>
            Generated project DNS zone name
            <img class="help-popover" src="/static/rcportal/img/help.png" data-content="This will be the Nectar DNS zone name that will be created for your project. This is based on the project identifer value. See our <a href='https://support.ehelp.edu.au/support/solutions/articles/6000201311' target='_blank'>support documentation</a> for more information." data-original-title="Generated project DNS zone name" data-html="true">
         </label>
          <div class="controls">
            <div class="input-group" style="width: 300px;">
                <input id="id_dns_domain" class="form-control" readonly="readonly" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
        {% block convert_trial_project %}
        {% include "rcallocation/field.html" with field=form.convert_trial_project %}
        {% endblock %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Cloud Resources</h2>
        <p>Specify the maximum infrastructure that your project will need access to.
          This quota can be extended at a later date if more resources are required.
          The overall availability of resources may vary over time and at different locations.
          Resource may not always be available.</p>
        <div id="quota_formset">
          {% for service_type, form_tuple in quota_formsets %}
          <div id="panel-quota-{{ service_type.catalog_name }}">
            <div class="panel panel-default">
              <div class="panel-heading" style="display:flex;">
                <div style="flex: 1;">
                  <h4 class="list-group-item-heading">{{ service_type.name }}</h4>
                  <p class="list-group-item-text">{{ service_type.description|safe }}</p>
                </div>
                <div>
                  <input id="check-{{ service_type.catalog_name }}" class="toggle-quota" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">
                </div>
                <div style="clear: both;"></div>
              </div>
              <div class="panel-collapse collapse in">
                <div id="panel-{{ service_type.catalog_name }}" class="panel-body panel-quota">
                  <div id="empty-quotas-{{ service_type.catalog_name }}" style="display: none;">
                    <div class="quota-group">
                      {% include "rcallocation/quota_template_form.html" %}
                    </div>
                  </div>
                  <div id="quotas-{{ service_type.catalog_name }}" class="quotas">
                    <div class="quota-group">
			          {% for group_form, formset in form_tuple %}
    	                {% if formset.non_form_errors %}
        	              <div class="form-group has-error">
                            <span class="help-block">{{ formset.non_form_errors }}</span>
            	          </div>
	                    {% endif %}
    	                {{ formset.management_form }}
                        {% if service_type.notes %}
                          <p><span class="label label-info">Note:</span> {{ service_type.notes|safe }}</p>
                        {% endif %}
        	            {% include "rcallocation/quota_forms.html" %}
            	      {% endfor %}
                    </div>
                  </div>
                  <div class="form-actions">
                    <input id="add-quota-{{ service_type.catalog_name }}" type="button" value="Add more" class="btn btn-default"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> <!-- quota_formset -->
      </div> <!-- col-md-12 -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <h2>Usage Information</h2>
        <hr/>
        {% include "rcallocation/field.html" with field=form.use_case %}
        {% include "rcallocation/field.html" with field=form.usage_patterns %}
        {% include "rcallocation/field.html" with field=form.geographic_requirements %}
        {% include "rcallocation/field.html" with field=form.estimated_number_users %}
        {% include "rcallocation/field.html" with field=form.usage_types %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Fields of Research (FOR)</h2>
        <hr/>
        <span class="label label-info">Note:</span>
        Please enter at least 1 and up to 3 {{for_series}} Field of Research (FoR)
        codes for the area(s) of research supported by this allocation
        request, and set percentages adding up to a total of 100%.  Please see
        <a href="https://support.ehelp.edu.au/support/solutions/articles/6000241729">
          How to use FoR codes in the Nectar Allocation request form</a>
        for more details.  Please provide FoR codes for your research areas,
        not your research methodologies.
        <br/>
        <br/>
        {% for error in form.get_for_errors %}
        <div class="form-group has-error">
          <span class="help-block">{{error}}</span>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {% for group in form.grouped_fields %}
        <div class="form-group">
          {% for field in group %}
            {% if forloop.first %}
              <label>{{ field.label }}</label>
            {% endif %}
            {% if field.errors %}
              <div class="form-group has-error">
              {{ field }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
              </div>
            {% else %}
              {{ field }}
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="institution_formset">
        <div class="col-md-12">
          <h2>Supported Institutions</h2>
          <hr/>
          <span class="label label-info">Note:</span>
          Specify which universities or research institutions will
          be supported by the application or specify 'all'.
          <br/>
          <br/>
          {{ institution_formset.management_form }}
          {% if institution_formset.forms %}
          {% include "rcallocation/institution_form.html" with field=institution_formset.forms.0.name %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div id="investigator_formset">
        {{ investigator_formset.management_form }}
        {% for investigator_form in investigator_formset.forms %}
        {% include "rcallocation/investigator_form.html" %}
        {% endfor %}
      </div>
    </div>

    <div class="row{% if not object or not object.can_have_publications %} hidden{% endif %}">
      <div class="publication_formset">
        <div class="col-md-12">
          <h2>Publication/Output</h2>
          <hr/>
          <span class="label label-info">Note:</span>
          List any publications or other research outputs from work on this project
          that has been supported by use of the Nectar cloud.
          <br/>
          <br/>
          {{ publication_formset.management_form }}
          {% include "rcallocation/publication_form.html"%}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Research Grant Information</h2>
        <hr/>
	{% if grant_formset.non_form_errors %}
	<div class="alert alert-danger" role="alert">
	  {{ grant_formset.non_form_errors }}
	</div>
	{% endif %}
        <p><span class="label label-info">Note:</span>
	  Research grant information aids in the assessment of research allocations and indicates the scale of the research supported. You must put at least one grant, or specify you have no grants for the project</p>
        <p>A National project allocation request can only be approved if the project is:</p>
	  <ul>
	    <li>funded through a <a href="https://docs.education.gov.au/system/files/doc/other/2018_acgr_listing_final.pdf">national competitive research grant</a></li>
	    <li>funded by, or supports, a <a href="https://www.education.gov.au/funded-research-infrastructure-projects">National Collaborative Research Infrastructure Strategy</a> (NCRIS) capability, including ARDC, Nectar, ANDS or RDS (e.g. a Virtual Laboratory)</li>
            <li>approved by the Nectar Allocation Committee (as per the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000191233-research-cloud-national-allocation-scheme-rc-nas-policy-">RC-NAS Policy</a>).
	  </ul>
	<p>Note that if a project meets the above criteria, it is not automatically entitled to a national allocation. In some cases it may be more suited to a local allocation.</p>
	<p>If your project is not eligible for a national allocation it may receive a local (node-prioritised) allocation at a particular node.</p>
        <p>If your project is supported by NCRIS or ARDC, record that information in the separate fields at the end of this form.  Please do not record it as a research grant.</p>
        <br/>
        <div class="grant_formset">
          {{ grant_formset.management_form }}
          {% include "rcallocation/grant_form.html" %}
        </div>
      </div>
      <div class="col-md-12">
        {% include "rcallocation/medium_field.html" with field=form.ardc_support %}
        {% include "rcallocation/medium_field.html" with field=form.ardc_explanation %}
        {% if not form.ardc_support.value and object and object.nectar_support %}
	<div class="alert alert-warning" role="alert">
          <p>Please reenter the following information in the ARDC Support and explanation fields above.  If the info is erroneous or redundant, please raise a Nectar support request asking for it to be manually removed from the allocation system.</p>
          <p>Old Nectar Support information: "{{ object.nectar_support }}"</p>
        </div>
        {% endif %}
        {% include "rcallocation/medium_field.html" with field=form.ncris_facilities %}
        {% include "rcallocation/medium_field.html" with field=form.ncris_explanation %}
        {% if not form.ncris_facilities.value and object and object.ncris_support %}
        <div class="alert alert-warning" role="alert">
	  <p>
          Please reenter the following information in the NCRIS Facilities and NCRIS Support explanation fields above.  If the info is erroneous or redundant, please raise a Nectar support request asking for it to be manually removed from the allocation system.</p>
	  <p>
          Old NCRIS Support information: "{{ object.ncris_support }}"
          </p>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="form-actions">
      <input class="btn btn-success submit-form-button" type="submit" value="Submit">
      {% if warnings|length > 0 %}
      <input class="btn btn-success submit-form-button" type="button"
             onClick="submit_ignore()" value="Submit ignoring warnings">
      {% endif %}
    </div>

    <!-- Usage Budget Modal -->
    <div id="usage_budget_modal" class="modal modal-bordered" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center">Service Unit Budget Guide</h4>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h2>How to Estimate your Budget</h2>
              <p>All new and renewed allocations will have a budget in <a href="https://support.ehelp.edu.au/support/solutions/articles/6000257023-service-units" target="_blank">service units</a> (SUs). Only compute instances on the Nectar Cloud will consume service units. This budget helps Nectar manage usage to provide more flexible resources and will enable new services in the future.</p>
              <p>It's important to understand how much budget your allocation requires. You need to estimate your budget when requesting an allocation, but don't worry if you get it wrong, you can always request more later.</p>
              <p class="lead">Here are 4 different methods to help you determine how much budget you need...</p>
            </div>
            <div class="row equal align-items-center my-5 mx-3">
              <div class="col-xs-12 col-md-6">
                <h4 class="text-uppercase underline-short">Method 1</h4>
                <h3 class="mt-0">Recommended Budgets for Common use-cases.</h3>
                <p>If you are new to Nectar, the simplest approach may be to specify a "recommended" SU budget for corresponding to one of the following common use-cases:</p>
                <p><strong>"Like my laptop"</strong><br />A typical researcher laptop has 4 cores and 8GB of RAM. That is equivalent to an instance with an m3.medium flavor. The SU cost for an m3.medium for one year is 1,000 SU.</p>
                <p><strong>"A bigger laptop"</strong><br />A high end researcher laptop might have 8 cores and 16GB of RAM. That is equivalent to an instance with an m3.large flavor. The SU cost for an m3.large for one year is 2,000 SU.</p>
                <p><strong>"I just want to run a website"</strong><br />A typical website to host some web pages, some small web applications, or some datasets needs 2 cores and 4GB of RAM. That is equivalent to an instance with an m3.small flavor. The SU cost for an m3.small for one year is 500 SU.</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <table class="table table-borderless text-center">
                  <thead style="border-bottom: 2px solid #000;">
                    <tr>
                      <th colspan="3" class="text-center">Use-case For Allocation</th>
                      <th class="text-center text-secondary">SU Budget Estimate<br />(one year)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>I want compute power like my laptop.</td>
                      <td>=</td>
                      <td>m3.medium</td>
                      <td class="text-secondary">1,000</td>
                    </tr>
                    <tr>
                      <td>I want a bigger, more powerful laptop.</td>
                      <td>=</td>
                      <td>m3.large</td>
                      <td class="text-secondary">2,000</td>
                    </tr>
                    <tr>
                      <td>I just want to run a website.</td>
                      <td>=</td>
                      <td>m3.small</td>
                      <td class="text-secondary">500</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row equal align-items-center my-5 mx-3">
              <div class="col-xs-12 col-md-6">
                <h4 class="text-uppercase underline-short">Method 2</h4>
                <h3 class="mt-0">Estimating based on Flavors.</h3>
                <p>If you have a good idea of what kind of Nectar resources you are likely to need, you can do your own estimate calculations based on the flavors.</p>
                <ol>
                  <li>Look at the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000205341" target="_blank">Nectar Flavors</a> page and work out which one(s) best fit your needs.</li>
                  <li>Take the SU cost per hour (or year) for a chosen flavor and multiply that by the time you intend to run the instance during the allocation period.</li>
                  <li>Sum over all of the instances to get the total budget.</li>
                </ol>
              </div>
              <div class="col-xs-12 col-md-6">
                <table class="table table-borderless text-center">
                  <thead style="border-bottom: 2px solid #000;">
                    <tr>
                      <th colspan="3" class="text-center">Example Flavor Calculation</th>
                      <th class="text-center text-secondary">SU Budget Estimate <br />(one year)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2 x m3.large instance for 6 months<br />+<br />m3.small instance for 12 months</td>
                      <td>=</td>
                      <td>2 x 2,000 SU x 0.5 years<br />+<br />500 SU x 1 year</td>
                      <td class="text-secondary">2,500</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row equal align-items-center my-5 mx-3">
              <div class="col-xs-12 col-md-6">
                <h4 class="text-uppercase underline-short">Method 3</h4>
                <h3 class="mt-0">Estimating based on previous usage patterns.</h3>
                <p>If you have been using compute resources (e.g. instances) on the Nectar Cloud for a while, you can view your project usage in the Dashboard.</p>
                <ol>
                  <li>Check out the <a href="{% url 'horizon:project:usage-trend:index' %}" target="_blank">Usage Trend</a> page to get an idea of how many service units your selected project has used over time. (Please note, this page will show data for the current project selected, not necessarily the project you are requesting allocation for.)</li>
                  <li>When the page loads, it will show you data for the past 3 months by default. You can change the date range to a more relevant period if you like.</li>
                  <li>On this page you can see which instances were running, including the flavor, to help you understand the usage breakdown.</li>
                </ol>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="/static/rcportal/img/usage-breakdown.jpg" alt="Usage Breakdown" class="img-responsive" />
              </div>
            </div>
            <div class="row equal align-items-center my-5 mx-3">
              <div class="col-xs-12 col-md-6">
                <h4 class="text-uppercase underline-short">Method 4</h4>
                <h3 class="mt-0">Same as last time.</h3>
                <p>If you're renewing an allocation, you could simply request the same budget that was approved in the last period. However, in this case it's a good idea to checkout the Allocation Usage page to make sure your previous budget was appropriate. (Please note, the Allocation Usage page is only accessible in projects that already have a budget.)</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img src="/static/rcportal/img/usage-allocation.jpg" alt="Allocation Usage" class="img-responsive" />
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <a href="https://support.ehelp.edu.au/support/solutions/articles/6000257023-service-units" target="_blank" class="btn btn-warning">Learn more</a>
            <button type="button" class="btn btn-success" data-dismiss="modal">OK, Got it!</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- MRC dashboard modal dialog -->
    <div id="modal-uom-dashboard" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Notice for University of Melbourne users</h4>
          </div>
          <div class="modal-body">
            <p>It is University of Melbourne procedure that new requests for local cloud allocations should be made through the Melbourne Research Cloud dashboard.</p>
            <p>If you are applying for a Nectar national cloud allocation under the <a href="https://support.ehelp.edu.au/support/solutions/articles/6000226889">National Allocation policy</a>, please click "Close" and proceed.</p>
            <p>If you are applying for a University of Melbourne local cloud allocation, please visit <a href="https://dashboard.cloud.unimelb.edu.au/allocation">https://dashboard.cloud.unimelb.edu.au</a> and submit your request there.</p>
            <p>If you are having trouble with a Melbourne Research Cloud request, or if you need advice on whether to applying for a "national" or "local" allocation, please submit a request here: <a href="https://unimelb.service-now.com/research">https://unimelb.service-now.com/research</a>.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% if nags|length > 0 %}
    <script>
      $(window).on('load',
                   function() {
                     var delayMs = 1000;
                     setTimeout(function() {
                                  $('#modal-nags').modal('show');
                                }, delayMs);
                   });
    </script>
    <!-- Nags modal dialog -->
    <div id="modal-nags" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Attention Required</h4>
          </div>
          <div class="modal-body">
            <p>
              The following items require your attention before you submit
              this amendment. These may be a result of changes that we have
              made to this form since your last submission.</p>
            <p>
              <ul>
                {% for nag in nags %}
                <li> {{ nag.1 }} </li>
                {% endfor %}
              </ul>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- DOI checker modal dialog -->
    <div id="modal-doi-checker" class="modal" tabindex="-1"
         role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">DOI Checker</h4>
          </div>
          <div class="modal-body">
            <div id="doi-checking" class="alert alert-primary" hidden>
              Looking up the DOI ...
            </div>
            <div id="doi-failed" class="alert alert-danger" hidden>
              DOI lookup failure.  There is a problem with the CrossRef
              DOI service.  Either try again, or skip validation for this
              DOI.
            </div>
            <div id="doi-not-found" class="alert alert-warning" hidden>
              DOI not found.  Either you have mis-entered the DOI,
              or this is a valid DOI that the CrossRef DOI service does
              not know about.  Please check the place that you got the
              DOI from.  (You could also try visiting the CrossRef site
              and searching for the correct DOI there.)
            </div>
           <div id="doi-found" class="alert alert-success" hidden>
              DOI found.  Please the details below and confirm that
              this is the correct DOI for the Research Output that
              you are adding to the Allocation Request Form.
            </div>
            <input id="doi-checker-state" value="" hidden>
            <input id="doi-row" value="" hidden>
            <input id="doi-crossref" value="" hidden>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">DOI</div>
                <div class="col-md-9">
                  <input id="doi-doi" style="width: 100%" value="" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Title</div>
                <div class="col-md-9">
                  <input id="doi-title" style="width: 100%" value=""  readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Authors</div>
                <div class="col-md-9">
                  <input id="doi-authors" style="width: 100%" value="" readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Publication</div>
                <div class="col-md-9">
                  <input id="doi-publication" style="width: 100%" value=""  readonly>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">Year</div>
                <div class="col-md-9">
                  <input id="doi-year" style="width: 100%" value="" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="doi-accept" class="btn btn-default"
                    data-dismiss="modal">
              Reference details are correct.
            </button>
            <button type="button" id="doi-reject" class="btn btn-default"
                    data-dismiss="modal">
              Reference details are incorrect.
            </button>
            <button type="button" id="doi-close" class="btn btn-default"
                    data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      /* For browsers that don't recognize the autofocus attribute... */
      if (!("autofocus" in document.createElement("input"))) {
        document.getElementById("id_project_description").focus();
      }

      $(document).ready(function() {
        $('div#quota_formset').formset({
          prefix: 'quotas',
          service_types: {{ service_types|safe }},
          resources: {{ resources|safe }},
          zones: {{ zones|safe }},
        });
      });

      $(document).ready(function() {
        $('div.institution_formset').mformset({
          prefix: 'institutions',
          formset_class_id: 'institution_formset',
          field_name: 'name'
        });
      });

      $(document).ready(function() {
        $('div.publication_formset').pformset({
          prefix: 'publications',
          formset_class_id: 'publication_formset',
          field_name: 'publication',
          input_style_css:'medium_width',
          show_label:true
        });
      });

      $(document).ready(function() {
        $('div.grant_formset').gformset({
          prefix: 'grants',
          formset_class_id: 'grant_formset'
        });
      });
    </script>
  </form>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}
