{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Approve Request{% endblock title %}

{% block page_header %}
    {{ block.super }}
    {% include "horizon/common/_page_header.html" with title="Approve allocation request" %}
{% endblock page_header %}

{% block js %}
  {{ block.super }}
  <script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}rcportal/js/jquery.mDialog.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}

{% block description %}
Enter the quotas and end date for the tenant to be created.
{% endblock description %}

{% block form_action %}{% url 'horizon:project:requests:approve_request' object.pk %}{% endblock %}
