{% extends 'base.html' %}
{% load quota_title %}

{% block sidebar %}
    {% with current_sidebar="allocation" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block main %}
    <div class="dash_block">
        <div>{% block description %}{% endblock description %}</div>
        <hr/>
        <blockquote>
            <strong>Info:</strong>
            Required fields are marked with an <span class="glyphicon glyphicon-asterisk text-primary"></span>
            sign.
        </blockquote>
        {% if form.errors or quotaFormSet.errors or institutionFormSet.errors or investigatorFormSet.errors or publicationFormSet.errors or grantFormSet.errors%}
            <div class="alert alert-danger" role="alert">Please fix up the below errors</div>
        {% endif %}
        <form id="new-allocation"
              action="{% block form_action %}{% endblock %}"
              method="post">
            <fieldset>
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="row">
                    <div class="col-md-6">
                        {% include "rcallocation/field.html" with field=form.tenant_name %}
                    </div>
                    <div class="col-md-6">
                        {% include "rcallocation/field.html" with field=form.contact_email %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% include "rcallocation/field.html" with field=form.project_name %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% include "rcallocation/field.html" with field=form.start_date %}
                        {% include "rcallocation/field.html" with field=form.estimated_project_duration %}
                    </div>
                </div>
                {% for error in form.get_for_errors %}
                    <div class="control-group error">
                        <span class="help-inline">{{ error }}</span>
                    </div>
                {% endfor %}
                {% for group in form.grouped_fields %}
                    <div class="control-group {% if field.errors %}error{% endif %}">
                        {% for field in group %}
                            {% if forloop.first %}
                                <label class="control-label">{{ field.label }}</label>
                                <div class="controls controls-row">
                            {% endif %}
                            {{ field }}
                        {% endfor %}
                        {% if forloop.last %}
                            <div class="help-block">
                                <strong>Note:</strong>
                                {% autoescape off %}
                                    Please select up to 3 Fields of Research (FOR)
                                    codes describing your work, adding up to a total
                                    of 100%. For more information on FOR codes please
                                    refer to the following
                                    <a href="http://www.abs.gov.au/Ausstats/abs@.nsf/Latestproducts/6BB427AB9696C225CA2574180004463E?opendocument">website</a>
                                {% endautoescape %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if investigatorFormSet %}
                    <div class="row">
                    {{ investigatorFormSet.management_form }}
                     {% for investigator_form in investigatorFormSet.forms %}
                         {{ investigator_form.id }}
                         {{ investigator_form.title.as_hidden }}
                         {{ investigator_form.given_name.as_hidden }}
                         {{ investigator_form.surname.as_hidden }}
                         {{ investigator_form.email.as_hidden }}
                         {{ investigator_form.institution.as_hidden }}
                         {{ investigator_form.additional_researchers.as_hidden }}
                     {% endfor %}
                    </div>
                {% endif %}
                {% if grantFormSet %}
                    <div class="row">
                    {{ grantFormSet.management_form }}
                     {% for grant_form in grantFormSet.forms %}
                         {{ grant_form.id }}
                         {{ grant_form.grant_type.as_hidden }}
                         {{ grant_form.funding_body_scheme.as_hidden }}
                         {{ grant_form.grant_id.as_hidden }}
                         {{ grant_form.first_year_funded.as_hidden }}
                         {{ grant_form.total_funding.as_hidden }}
                     {% endfor %}
                    </div>
                {% endif %}
                {% if institutionFormSet %}
                    <div class="row">
                    {{ institutionFormSet.management_form }}
                     {% for institution_form in institutionFormSet.forms %}
                         {{ institution_form.id }}
                         {{ institution_form.name.as_hidden }}
                     {% endfor %}
                    </div>
                {% endif %}
                {% if publicationFormSet %}
                    <div class="row">
                    {{ publicationFormSet.management_form }}
                     {% for publication_form in publicationFormSet.forms %}
                         {{ publication_form.id }}
                         {{ publication_form.publication.as_hidden }}
                     {% endfor %}
                    </div>
                {% endif %}
                {% if quotaFormSet %}
                    <h2>Quota</h2>
		    <h4>Compute</h4>
                    <div class="row">
                        <div class="col-md-4">
                            {% include "rcallocation/nohelp_field.html" with field=form.instances %}
                        </div>
                        <div class="col-md-4">
                            {% include "rcallocation/nohelp_field.html" with field=form.instance_quota %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% include "rcallocation/nohelp_field.html" with field=form.cores %}
                        </div>
                        <div class="col-md-4">
                            {% include "rcallocation/nohelp_field.html" with field=form.core_quota %}
                        </div>
                    </div>
                    {{ quotaFormSet.management_form }}
                    {% for quota_form in quotaFormSet.forms %}
                        {{ quota_form.id }}
                        {{ quota_form.allocation_resource }}
                        <div class="row">
                            <div class="col-md-4">
                                <h4>
                                    {{ quota_form.instance.resource|quota_title }}
                                    ({{ quota_form.instance.zone|title }})
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 requested_quota">
                                {% include "rcallocation/quota_field.html" with field=quota_form.requested_quota units=quota_form.instance.units %}
                            </div>
                            <div class="col-md-4 quota">
                                {% include "rcallocation/quota_field.html" with field=quota_form.quota units=quota_form.instance.units %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <br/>

                <div class="row">
                    <div class="col-md-8">
                        {% include "rcallocation/field.html" with field=form.funding_national_percent %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {% include "rcallocation/field.html" with field=form.funding_node %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        {% include "rcallocation/field.html" with field=form.status_explanation %}
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
            <script>
                /* For browsers that don't recognize the autofocus attribute... */
                if (!("autofocus" in document.createElement("input"))) {
                    document.getElementById("id_project_name").focus();
                }
            </script>
        </form>
    </div>

{% endblock %}
