{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Provision Request{% endblock title %}

{% block page_header %}
    {{ block.super }}
    {% include "horizon/common/_page_header.html" with title="Provision Request" %}
{% endblock page_header %}

{% block js %}
  {{ block.super }}
  <script src='{{ STATIC_URL }}rcportal/js/allocation.js' type='text/javascript' charset='utf-8'></script>
  <script src='{{ STATIC_URL }}rcportal/js/jquery.mDialog.js' type='text/javascript' charset='utf-8'></script>
{% endblock %}

{% block description %}
Provision the allocation request.
Currently the project for the allocation is created manually, so use this form
to set the project ID and name so it is linked to the allocation.
{% endblock description %}

{% block form_action %}{% url 'horizon:project:requests:provision_request' object.pk %}{% endblock %}
