{% extends 'rcallocation/allocationrequest_detail_base.html' %}

{% block extra_details %}
{% if allocation.special_approval %}
<div class="row">
  <div class="col-md-12">
    <h3>Special approval reasons</h3>
    <p>
      {{ allocation.special_approval }}
    </p>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <h3>Allocation admin notes</h3>
    <p>
      {{ allocation.notes }}
    </p>
  </div>
  {% if not allocation.is_history %}
  <div class="col-md-12">
    <a href="{% url 'horizon:allocation:requests:edit_notes' allocation.pk %}"
       class="btn btn-default"
       id="allocation_reject_view">
      Add/edit admin notes
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block detail_actions %}
  {% if allocation.amendment_requested %}
    {% if allocation.can_approve_change %}
      <div class="col-sm-2">
        <a href="{% url 'horizon:allocation:requests:approve_change_request' allocation.pk %}"
           class="btn btn-success"
           id="allocation_accept_view">
          Approve changes
        </a>
      </div>
      <div class="col-sm-offset-4">
        <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
           class="btn btn-danger"
           id="allocation_reject_view">
          Decline changes (or ask for amendments)
        </a>
      </div>
    {% endif %}
  {% elif allocation.can_be_approved %}
    <div class="col-md-6 col-md-offset-2">
      <a href="{% url 'horizon:allocation:requests:approve_request' allocation.pk %}"
         class="btn btn-success btn-lg"
         id="allocation_accept_view">
        Approve request
      </a>
      <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
         class="btn btn-danger btn-lg"
         id="allocation_reject_view">
        Decline request (or ask for more detail)
      </a>
    </div>
  {% endif %}
{% endblock %}
