{% extends 'base.html' %}
{% load publication_extras %}
{% load organisation_extras %}

{% block title %}View allocation request{% endblock title %}

{% block sidebar %}
  {% with current_sidebar="allocation_list" %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block breadcrumb_nav %}
  {{ block.super }}
{% endblock %}

{% block main %}
  <div class="dash_block">
    {% if 'history' in request.META.HTTP_REFERER %}
      <a href="{% url 'horizon:allocation:requests:allocation_history' allocation.pk %}" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back to History</a>
    {% elif 'approved_requests' in request.META.HTTP_REFERER %}
      <a href="/allocation/approved_requests/" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back to Approved Requests</a>
    {% elif 'user_requests' in request.META.HTTP_REFERER %}
      <a href="/allocation/user_requests/" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back to My Requests</a>
    {% endif %}
    <div class="allocation">
      <h2>{{ allocation.project_description }}</h2>
      <br/>
      <div class="row">
        <div class="col-md-8">
          <table class="table table-hover">
            <tr>
              <th width="200">Contact email</th>
              <td>{{ allocation.contact_email|urlize }}</td>
            </tr>
            <tr>
              <th>Submit date</th>
              <td>{{ allocation.submit_date }}</td>
            </tr>
            <tr>
              <th>Last updated</th>
              <td>{{ allocation.modified_time }}</td>
            </tr>
            <tr>
              <th>Start date</th>
              <td>{{ allocation.start_date }}</td>
            </tr>
            <tr>
              <th>End date</th>
              <td>{{ allocation.end_date }}</td>
            </tr>
            <tr>
              <th>Estimated project duration</th>
              <td>{{ allocation.estimated_project_duration }} month(s)</td>
            </tr>
            <tr>
              <th>Convert trial?</th>
              <td>{{ allocation.convert_trial_project|yesno|title }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table class="table table-hover">
            <tbody>
              <tr {% if allocation.status == 'A' %} class="success" {% else %} class="danger" {% endif %}>
                <th>State</th>
                <td>{{ allocation.get_status_display }}</td>
              </tr>
              {% if allocation.approver_email %}
                <tr>
                  <th width="200">Approver</th>
                  <td>{{ allocation.approver_email }}</td>
                </tr>
              {% endif %}
                {% if allocation.status == 'A' or allocation.status == 'X' or allocation.project_name %}
                  <tr>
                    <th width="200">Project Identifier</th>
                    <td>{{ allocation.project_name|default:"(Project not linked)" }}</td>
                  </tr>
                  <tr>
                    <th>Project ID</th>
                    <td>{{ allocation.project_id|default:"(Project not linked)" }}</td>
                  </tr>
                  <tr>
                    <th>Associated Site</th>
                    <td>{{ allocation.associated_site }}</td>
                  </tr>
                  <tr>
                    <th>National funded</th>
                    <td>{{ allocation.national|yesno }}</td>
                  </tr>
                  <tr>
                    <th>Provisioned</th>
                    <td>{{ allocation.provisioned|yesno }}</td>
                  </tr>
                {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        {% if not allocation.is_active %}
        <div class="col-md-6">
          <h3>Requested Quota</h3>
          <table class="table table-hover">
            {% for quotagroup in allocation.quotas.all %}
            {% for quota in quotagroup.quota_set.all %}
              <tr>
                <th>{{ quota.resource.service_type }} {{ quota.resource }} <span class="label label-primary">{{ quota.group.zone }}</span></th>
                {% if quota.resource.resource_type == 'boolean' %}
                <td>Enabled</td>
                {% else %}
                <td>{{ quota.requested_quota }} {{ quota.resource.unit }}</td>
                {% endif %}
              </tr>
            {% endfor %}
            {% endfor %}
          </table>
        </div>
        {% endif %}
        <div class="col-md-6">
          <h3>
            {% if approved_is_current %}
            Current Quota
            {% else %}
            Approved Quota (at the time of this record)
            {% endif %}
          </h3>
          <table class="table table-hover">
            {% if approved_allocation %}
              {% for quotagroup in approved_allocation.quotas.all %}
                {% for quota in quotagroup.quota_set.all %}
                  <tr>
                    <th>{{ quota.resource.service_type }} {{ quota.resource }} <span class="label label-primary">{{ quota.group.zone }}</span></th>
                    {% if quota.resource.resource_type == 'boolean' %}
                    <td>Enabled</td>
                    {% else %}
                    <td>{{ quota.quota }} {{ quota.resource.unit }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
              {% endfor %}
            {% else %}
              <tr>
                  <td colspan="2">No allocation.</td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Use Case</h3>
          <p>
            {% if allocation.use_case %}
              {{ allocation.use_case|linebreaksbr }}
            {% else %}
              <span class="label label-warning">No Submission</span>
            {% endif %}
          </p>
          <h3>Usage Patterns</h3>
          <p>
            {% if allocation.usage_patterns %}
              {{ allocation.usage_patterns|linebreaksbr }}
            {% else %}
              <span class="label label-warning">No Submission</span>
            {% endif %}
          </p>
          <h3>Additional Location Requirements</h3>
          <p>
            {% if allocation.geographic_requirements %}
              {{ allocation.geographic_requirements|linebreaksbr }}
            {% else %}
              <span class="label label-warning">No Submission</span>
            {% endif %}
          </p>
          <h3>Usage Types</h3>
          {% if allocation.usage_types.all %}
          <ul>
            {% for usage in allocation.usage_types.all %}
            <li>
              {{ usage.name }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p><span class="label label-warning">Not recorded</span></p>
          {% endif %}
          <h3>Estimated Number of Users</h3>
          <p>
            {% if allocation.estimated_number_users %}
              {{ allocation.estimated_number_users }}
            {% else %}
              <span class="label label-warning">No Submission</span>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Fields of Research (FOR)</h3>
          <table class="table table-hover">
              {% if allocation.field_of_research_1 %}
              <tr>
                <th width="200">FOR 1</th>
                <td>{{ allocation.get_field_of_research_1_display}} ({{allocation.for_percentage_1}}%)</td>
              </tr>
            {% endif %}
            {% if allocation.field_of_research_2 %}
              <tr>
                <th width="200">FOR 2</th>
                <td>{{ allocation.get_field_of_research_2_display}} ({{allocation.for_percentage_2}}%)</td>
              </tr>
            {% endif %}
            {% if allocation.field_of_research_3 %}
              <tr>
                <th width="200">FOR 3</th>
                <td>{{ allocation.get_field_of_research_3_display}} ({{allocation.for_percentage_3}}%)</td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3>Supported Organisations</h3>
          {% if allocation.supported_organisations.all %}
                <table class="table table-hover">
                  {% for org in allocation.supported_organisations.all %}
                      <tr>
                      {% if forloop.first %}
                          <th width="200" rowspan="{{ allocation.supported_organisations.all|length}}">Organisations</th>
                      {% endif %}
                          <td>
                              {{ org.full_name }} {{ org|org_status }}
                          </td>
                      </tr>
                  {% endfor %}
              </table>
          {% else %}
            <p><span class="label label-warning">No Submission</span></p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Chief Investigator</h3>
            {% if allocation.investigators.all %}
                 <table class="table table-hover">
                {% for invest in allocation.investigators.all %}
                    <tr>
                        <th width="200">Name</th>
                        <td>{{ invest.title }} {{ invest.given_name }} {{ invest.surname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ invest.email }} </td>
                    </tr>
                    <tr>
                        <th>Primary Organisation</th>
                        <td>{{ invest.primary_organisation.full_name }}</td>
                    </tr>
                    <tr>
                        <th>Other primary investigators, partner investigators
                            and other research collaborators</th>
                        <td>{{ invest.additional_researchers|linebreaks }}</td>
                    </tr>
                 {% endfor %}
                </table>
            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Research Grant Information</h3>
            {% if allocation.grants.all %}
                {% for grant in allocation.grants.all %}
                    <table class="table table-hover">
                        <tr>
                            <th width="200">Grant Type</th>
                            <td>{{ grant.get_grant_type_display }}</td>
                        </tr>
                        <tr>
                            <th width="200">Grant Subtype</th>
                            <td>{{ grant.get_grant_subtype_display }}</td>
                        </tr>
                         <tr>
                            <th>Other funding source details</th>
                            <td>{{ grant.funding_body_scheme }}</td>
                        </tr>
                        <tr>
                            <th>Grant ID</th>
                            <td>{{ grant.grant_id }}</td>
                        </tr>
                        <tr>
                            <th>First year funded</th>
                            <td>{{ grant.first_year_funded }}</td>
                        </tr>
                        <tr>
                            <th>Last year funded</th>
                            <td>{{ grant.last_year_funded }}</td>
                        </tr>
                        <tr>
                            <th>Total funding (AUD)</th>
                            <td>{{ grant.total_funding }}</td>
                        </tr>
                 </table>
                {% endfor %}

            {% else %}
             <p><span class="label label-warning">No Submission</span></p>
            {% endif %}
              <h4>ARDC (or ANDS, Nectar, or RDS) funded projects supporting this request:</h4>
              {% if allocation.ardc_support.all|length > 0 %}
              <p>
                <ul>
                  {% for f in allocation.ardc_support.all %}
                  <li> {{ f.short_name }} - {{ f.name }} </li>
                  {% endfor %}
                </ul>
              </p>
              {% endif %}
              {% if allocation.ardc_explanation %}
              <p>Additional details: {{ allocation.ardc_explanation }}</p>
              {% endif %}
              {% if allocation.ardc_support.all|length == 0 and not allocation.ardc_explanation and allocation.nectar_support %}
                <p>{{ allocation.nectsr_support }}</p>
              {% endif %}
              {% if allocation.ardc_support.all|length == 0 and not allocation.ardc_explanation and not allocation.nectar_support %}
              <span class="label label-warning">No Submission</span>
              {% endif %}

              <h4>NCRIS Facilities supporting this request:</h4>
              {% if allocation.ncris_facilities.all|length > 0 %}
              <p>
                <ul>
                  {% for f in allocation.ncris_facilities.all %}
                  <li> {{ f.short_name }} - {{ f.name }} </li>
                  {% endfor %}
                </ul>
              </p>
              {% endif %}
              {% if allocation.ncris_explanation %}
              <p>Additional details: {{ allocation.ncris_explanation }}</p>
              {% endif %}
              {% if allocation.ncris_facilities.all|length == 0 and not allocation.ncris_explanation and allocation.ncris_support %}
                <p>{{ allocation.ncris_support }}</p>
              {% endif %}
              {% if allocation.ncris_facilities.all|length == 0 and not allocation.ncris_explanation and not allocation.ncris_support %}
              <span class="label label-warning">No Submission</span>
              {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h3>Publications / Outputs</h3>
            {% if allocation.publications.all %}
                 <table class="table table-hover">
                    {% for pub in allocation.publications.all %}
                        {% if forloop.first %}
                        <tr>
                            <th>Type</th>
                            <th>DOI</th>
                            <th>Details</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>
                              {{ pub.get_output_type_display }}
                            </td>
                            <td>
                              {{ pub.doi }}
                            </td>
                            <td>
                              {% if pub.crossref_metadata|length > 0 %}
                              {% autoescape off %}
                              {{ pub.crossref_metadata|crossref_summary }}
                              {% endautoescape %}
                              {% else %}
                              {{ pub.publication }}
                              {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% elif allocation.can_have_publications %}
              <p><span class="label label-warning">No Submission</span></p>
            {% else %}
              <p><span class="label label-warning">No Submission. (None expected for new requests.)</span></p>
            {% endif %}
        </div>
      </div>
      {% if allocation.status_explanation %}
      <div class="row">
        <div class="col-md-12">
            <h3>Reviewer Comment</h3>
            <p>
              {{allocation.status_explanation|linebreaksbr}}
            </p>
        </div>
      </div>
      {% endif %}
      {% block extra_details %}
      {% endblock %}
          
      {% block detail_actions %}{% endblock %}
    </div>
  </div>
{% endblock %}
