{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Approve Request{% endblock title %}

{% block description %}
Instructions for approving an allocation:
<ul>
  <li>Review / edit the requested Quotas and Duration for the project.</li>
  <li>Record the Associated Site for the allocation.</li>
  <li>Set the National flag if the allocation qualifies for Nectar national funding as per the RC-NAS policy.  If the allocation doesn't meet the primary criteria (i.e. a current grant, NCRIS or ARDC support), add an explanation.</li>
  <li>Add an optional Comment to be sent to the user.</li>
  <li>Submit the form.</li>
</ul>
{% endblock description %}

{% block form_action %}{% url 'horizon:allocation:requests:approve_request' object.pk %}{% endblock %}
{% block submit_buttons %}
    <div class="form-actions">
      <input class="btn btn-success" type="submit" value="Submit">
      {% if warnings|length > 0 %}
      <input class="btn btn-success" type="button"
             onClick="submit_ignore()" value="Submit ignoring warnings">
      {% endif %}
    </div>
{% endblock %}
