{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Decline or Request Amendment from User{% endblock title %}

{% block sidebar %}
    {% with current_sidebar="allocation" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block description %}
<p>Reject a request, or specify changes a user needs to make to an allocation request before it can be accepted.</p>
{% endblock description %}

{% block form_action %}{% url 'horizon:allocation:requests:reject_request' object.pk %}{% endblock %}

{% block quotas %}
{% endblock quotas %}
