{% extends 'rcallocation/allocationrequest_base.html' %}

{% block title %}Edit allocation Admin notes{% endblock title %}

{% block main %}
<div class="dash_block">
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">Please fix the errors highlighted below and resubmit</div>
  {% endif %}
  <form id="new-allocation"
	action="{% url 'horizon:allocation:requests:edit_notes' object.pk %}"
	method="post">
    <fieldset>
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div class="row">
	<div class="col-md-6">
	  {% include "rcallocation/field.html" with field=form.notes %}
	</div>
      </div>
    </fieldset>
    <div class="form-actions">
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
  </form>
</div>
{% endblock main %}
