{% extends 'rcallocation/allocationrequest_detail_base.html' %}

{% block extra_details %}
{% if allocation.special_approval %}
<div class="row">
  <div class="col-md-12">
    <h3>Special approval reasons</h3>
    <p>
      {{ allocation.special_approval }}
    </p>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-md-12">
    <h3>Allocation admin notes</h3>
    <p>
      {{ allocation.notes }}
    </p>
  </div>
  {% if not allocation.is_history %}
  <div class="col-md-12">
    <a href="{% url 'horizon:allocation:requests:edit_notes' allocation.pk %}"
       class="btn btn-default"
       id="allocation_reject_view">
      Add/edit admin notes
    </a>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-md-6">
    <br/>
    <p><span class="label label-info">Note:</span> To start a conversation
      with the user about their allocation request, first click "See Related
      Tickets" to see Freshdesk tickets tagged with this allocation.  Next
      choose one from the list, change its status to "Open", change its
      group to "Allocations" and assign it to yourself. When you finish
      the conversation, please remember to "Resolve" the ticket in the
      normal way.
    </p>
    <p>If the "See Related Tickets" page gets stuck with a "spinner", try
      refreshing the page. (We think it is a Freshdesk bug.)
    </p>
  </div>
</div>
{% endblock %}

{% block detail_actions %}
<div class="row">
  <div class="col-md-12">
  {% if allocation.can_approve_change %}
    <a href="{% url 'horizon:allocation:requests:approve_change_request' allocation.pk %}"
       class="btn btn-success btn-lg" id="allocation_accept_view">
      Approve changes
    </a>
  {% endif %}
  {% if allocation.can_reject_change %}
    <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
       class="btn btn-danger btn-lg" id="allocation_reject_view">
      Decline changes
    </a>
  {% endif %}  
  {% if allocation.can_be_approved %}
    <a href="{% url 'horizon:allocation:requests:approve_request' allocation.pk %}"
       class="btn btn-success btn-lg" id="allocation_accept_view">
      Approve request
    </a>
  {% endif %}
  {% if allocation.can_be_rejected %}
    <a href="{% url 'horizon:allocation:requests:reject_request' allocation.pk %}"
       class="btn btn-danger btn-lg" id="allocation_reject_view">
      Decline request
    </a>
  {% endif %}
    <a href="{% url 'horizon:allocation:requests:allocation_history' allocation.pk %}" class="btn btn-default btn-lg">View History</a>
    <a href="{{HORIZON_CONFIG.FRESHDESK_SEARCH_URL}}&q[]=tags%3A%5B%22allocation-{{ allocation.id }}%22%5D"
       target="_blank" class="btn btn-info btn-lg" id="allocation_tickets">
      See related tickets
    </a>
  </div>
</div>
{% endblock %}
