{% if field %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="id_{{ field.html_name }}">
      {{ field.label }}
      {% if field.field.required %}
        <span class="glyphicon glyphicon-asterisk text-secondary"></span>
      {% endif %}
   </label>
    <div class="controls">
      <div class="input-g input-group">
        {{ field }}
        {% if field.field.widget.input_type == "number" %}
        <span class="input-group-addon label-resource-unit"></span>
        {% endif %}
      </div>
      <span class="label-resource-help"></span>
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
