{% if field %}
  <div class="{% if field.errors %}has-error{% endif %}">
    <label for="id_{{ field.html_name }}">
      {{ field.label }}
      {% if field.field.required %}
        <span class="glyphicon glyphicon-asterisk text-secondary"></span>
      {% endif %}
      {% if field.help_text %}
        <img class="help-popover" src="{{ STATIC_URL }}rcportal/img/help.png" data-content="{{ field.help_text }}" data-original-title="{{ field.label }}" data-html="true">
      {% endif %}
   </label>
    <br/>
    <div class="form-inline">
      <div class="form-group">
        {% block field %}
          {{ field }}
        {% endblock %}
      </div>
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
{% endif %}
