<p>If you have further questions you may reply to this email.</p>
<br/>
<p>More information on the allocation request process is available from the following pages:</p>
<ul>
  <li>
    <a href="https://tutorials.rc.nectar.org.au/allocation-management">Nectar Tutorial: Allocation Management</a>
  </li>
  <li>
    <a href="https://support.nectar.org.au/support/solutions/articles/6000068044-managing-an-allocation">Nectar Solution article: Managing an Allocation</a>
  </li>
  <li>
    <a href="https://support.ehelp.edu.au/support/solutions/articles/6000191233">Research Cloud National Allocation Scheme (RC-NAS) Policy</a>
  </li>
</ul>
