{% extends "rcallocation/email_alert_base.html" %}
{% block preamble %}
<p>Thank you for submitting your allocation request.</p>
<br>
<p>Your request has been forwarded for review as part of the allocation request process.</p>
<br>
<p>This is a merit-based, project specific allocation to the Research Cloud. Allocations may take up to 3 weeks to process.</p>
<br>
{% endblock %}
{% block summary %}
<p>
  {% if allocation.status == 'X' %}
  This request for an extension/change to the allocation for project {{ allocation.project_name }} ({{ allocation.project_id }}) was submitted by "{{ allocation.contact_email }}".
  {% else %}
  This allocation request was submitted by "{{ allocation.contact_email }}".
  {% endif %}
  You can view the request in the Nectar Dashboard using <a href="{{ base_url }}{% url 'horizon:allocation:user_requests:allocation_view' pk=allocation.pk %}">this link</a>
</p>
{% endblock %}
{% block allocation_details %}
<hr>
<h4>Allocation Request Summary</h4>
{% autoescape on %}
<p>Project name: {{ allocation.project_description }}</p>
<br>
<p>Duration: {{ allocation.estimated_project_duration }} months</p>
<br>
<p>Use Case:</p>
<p>{{ allocation.use_case }}</p>
<br>
<p>Usage pattern:</p>
<p>{{ allocation.usage_patterns|default:"None given." }}</p>
<br>
<p>Geographical Requirements:</p>
<p>{{ allocation.geographic_requirements|default:"None given." }}</p>
{% if allocation.field_of_research_1 or allocation.field_of_research_1 or allocation.field_of_research_1 %}
<br>
<p>Fields Of Research:</p>
{% if allocation.field_of_research_1 %}
<p>{{ allocation.get_field_of_research_1_display }} ({{ allocation.for_percentage_1 }}%)</p>
{% endif %}
{% if allocation.field_of_research_2 %}
<p>{{ allocation.get_field_of_research_2_display }} ({{ allocation.for_percentage_2 }}%)</p>
{% endif %}
{% if allocation.field_of_research_3 %}
<p>{{ allocation.get_field_of_research_3_display }} ({{ allocation.for_percentage_3 }}%)</p>
{% endif %}
{% endif %}
<br>
<table style="border:1px solid black;border-collapse:collapse;padding:5px 5px 5px 5px;">
  <tbody>
    <tr>
      <td style="text-align:center;border:1px solid black;border-collapse:collapse;padding:5px 5px 5px 5px;" colspan=2>Requested Quotas</td>
    </tr>
    {% for quota in quotas %}
    <tr>
      <td style="border:1px solid black;border-collapse:collapse;padding:5px 5px 5px 5px;">{{ quota.service_type }} - {{ quota.resource|title }}{% if quota.zone != 'NeCTAR' %} - {{ quota.zone }}{% endif %}
      </td>
      <td style="border:1px solid black;border-collapse:collapse;padding:5px 5px 5px 5px;">{% if quota.resource_type == 'boolean' %}Enabled{% else %}{{ quota.requested_quota }} {{ quota.unit }}{% endif %}{{ quota.resource.resource_type }}
      </td>
    </tr>
    {% endfor %}
</table>
{% endautoescape %}
{% endblock %}
