<div class="more_fields_tab">
    <div class="field_rows">
        {% for grant_form in grant_formset.forms %}
            <fieldset>
                {% if grant_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">{{ grant_form.non_field_errors }}</div>
                {% endif %}
                {{ grant_form.id }}
                {{ grant_form.DELETE.as_hidden }}
                <div class="grant_div">
                    {% include "rcallocation/field.html" with field=grant_form.grant_type %}
                    {% include "rcallocation/field.html" with field=grant_form.grant_subtype %}
                    {% include "rcallocation/field.html" with field=grant_form.funding_body_scheme %}
                    {% include "rcallocation/field.html" with field=grant_form.grant_id %}
                    {% include "rcallocation/field.html" with field=grant_form.first_year_funded %}
                    {% include "rcallocation/field.html" with field=grant_form.last_year_funded %}
                    {% include "rcallocation/field.html" with field=grant_form.total_funding %}
                </div>
            
                <button class="btn btn-danger field-delete-btn" id="delete-grant" type="button">
                    <i class="fa fa-close"></i> {% if forloop.first %}I don't have any grants{% else %}Delete{% endif %}
                </button>
            </fieldset>
        {% endfor %}
    </div>
    <div class="add_another_row">
        <button class="btn btn-default" value="Add Grant" id="add_another" type="button">
            <i class="fa fa-plus"></i> Add Grant
        </button>
    </div>
</div>
<br/>
