<table class="more_fields_tab">
    <tbody>
    {% for grant_form in grant_formset.forms %}
        <tr>
            {% if grant_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ grant_form.non_field_errors }}</div>
            {% endif %}
            <td>
                {{ grant_form.id }}
                {{ grant_form.DELETE.as_hidden }}
            </td>
            <td>
                <div class="grant_div">
                    {% include "rcallocation/field.html" with field=grant_form.grant_type %}
                    {% include "rcallocation/field.html" with field=grant_form.grant_subtype %}
                    {% include "rcallocation/field.html" with field=grant_form.funding_body_scheme %}
                    {% include "rcallocation/field.html" with field=grant_form.grant_id %}
                    {% include "rcallocation/field.html" with field=grant_form.first_year_funded %}
                    {% include "rcallocation/field.html" with field=grant_form.last_year_funded %}
                    {% include "rcallocation/field.html" with field=grant_form.total_funding %}
                </div>
            </td>
            <td>
                <button class="pull-right btn btn-default" id="delete-grant" type="button">
                    {% if forloop.first %}I don't have any grants{% else %}Delete{% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="add_another_row">
                <br/>
                <input type="button" class="btn btn-default" value="Add Grant" id="add_another">
                <br/>
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>
<br/>
