<div class="label_header">
    <label>
        {{ field.label }}
        <span class="glyphicon glyphicon-asterisk text-primary"></span>
        &nbsp;&nbsp;&nbsp;<span title="{{ field.label }}" id="id_{{ field.html_name }}" class="help-icon-sp"> <img class="help-icon" src='{{ STATIC_URL }}rcportal/img/help.png'> </span>
    </label>
    <span class="help-block">
        <div id="id_{{ field.html_name }}" class="help-text-div">
            {% autoescape off %}{{ field.help_text }}{% endautoescape %}
        </div>
    </span>
</div>
<table class="more_fields_tab">
    <tbody>
    {% for institution_form in institutionFormSet.forms %}
        <tr>
            {% if institution_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ institution_form.non_field_errors }}</div>
            {% endif %}
            <td>
                {{ institution_form.id }}
                {{ institution_form.DELETE.as_hidden }}
            </td>
            {% if forloop.first %}
                {% include "rcallocation/non_removable_field.html" with field=institution_form.name %}
            {% else %}
                {% include "rcallocation/removable_field.html" with field=institution_form.name %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="add_another_row"><input type="button" value="Add Institution" id="add_another"></td>
            <td></td>
        </tr>
    </tfoot>
</table>