<div class="investigator">
    {% if investigator_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{ investigator_form.non_field_errors }}</div>
    {% endif %}
    {{ investigator_form.id }}
    {{ investigator_form.DELETE.as_hidden }}
    <div class="col-md-12">
        <h2>Chief Investigator</h2>
        <hr/>
        <span class="label label-info">NOTE</span>
        For research projects specify the first investigator. For higher
        degree research projects specify the primary supervisor.
        For other activities specify the academic sponsor or head of
        the managing organisation unit.
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                {% include "rcallocation/field.html" with field=investigator_form.title %}
            </div>
            <div class="col-sm-4">
                {% include "rcallocation/field.html" with field=investigator_form.given_name %}
            </div>
            <div class="col-sm-4">
                {% include "rcallocation/field.html" with field=investigator_form.surname %}
            </div>
            <div class="col-md-6">
                {% include "rcallocation/field.html" with field=investigator_form.email %}
            </div>
            <div class="col-md-6">
                {% include "rcallocation/organisation_field.html" with field=investigator_form.primary_organisation field_marker="investigators-0-primary_organisation" %}
            </div>
            <div class="col-md-12">
                {% include "rcallocation/field.html" with field=investigator_form.additional_researchers %}
            </div>
        </div>
    </div>
</div>
