{% if field %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="id_{{ field.html_name }}">
      {{ field.label }}
      {% if field.field.required %}
        <span class="glyphicon glyphicon-asterisk text-primary"></span>
      {% endif %}
      {% block help_sp %}
      &nbsp;&nbsp;&nbsp;<span title="{{ field.label }}" id="id_{{ field.html_name }}" class="help-icon-sp"> <img class="help-icon" src='{{ STATIC_URL }}rcportal/img/help.png'> </span>
      {% endblock %}
   </label>
    <div class="controls">
      <div class="input-group medium_width">
        {% block field %}
          {{ field }}
        {% endblock %}
      </div>
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  </div>
  {% if field.help_text %}
    <span class="help-block">
      <div id="id_{{ field.html_name }}" class="help-text-div">
          {% autoescape off %}{{ field.help_text }}{% endautoescape %}
      </div>
    </span>
  {% endif %}
{% endif %}
