<table class="more_fields_tab">
    <tbody>
    {% for publication_form in publication_formset.forms %}
        <tr>
            {% if publication_form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ publication_form.non_field_errors }}</div>
            {% endif %}
            <td>
                {{ publication_form.id }}
                {{ publication_form.DELETE.as_hidden }}
            </td>
            <td>
              <div class="publication_div">
                {% include "rcallocation/field.html" with field=publication_form.output_type %}
                {% include "rcallocation/field.html" with field=publication_form.doi %}
                {% include "rcallocation/field.html" with field=publication_form.publication %}
                {% include "rcallocation/field.html" with field=publication_form.title %}
                {% include "rcallocation/field.html" with field=publication_form.year %}
              </div>
            </td>
            <td>
              <button class="pull-right btn btn-default" id="delete-publication" type="button">
                Delete
              </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="add_another_row"><input type="button" class="btn btn-default" value="Add publication" id="add_another"></td>
            <td></td>
        </tr>
    </tfoot>
</table>
