{% load publication_extras %}
<div class="more_fields_tab">
  <div class="field_rows">
    {% for publication_form in publication_formset.forms %}
          <fieldset {% if publication_form.DELETE.value %} hidden {% endif %}>
                {{ publication_form.id }}
                {{ publication_form.DELETE.as_hidden }}
                {{ publication_form.crossref_metadata }}
              <div class="publication_div">
                {% if publication_form.non_field_errors %}
                  <div class="alert alert-danger has-error" role="alert">{{ publication_form.non_field_errors }}</div>
                {% endif %}
                {% if publication_form.instance.id %}
                  {% include "rcallocation/_field.html" with field=publication_form.output_type hide=True button="" %}
                  {% include "rcallocation/_field.html" with field=publication_form.doi hide=True button="" %}
                  {% include "rcallocation/_field.html" with field=publication_form.publication hide=True button="" %}
                  <div class="description-text mt-4">
                    {% autoescape off %}
                    {{ publication_form.instance|pub_summary }}
                    {% endautoescape %}
                  </div>
                {% else %}
                  {% include "rcallocation/field.html" with field=publication_form.output_type %}
                  <div class="prompts-group" {% if publication_form.crossref_metadata|length == 0 %} hidden {% endif %}>
                    <p>
                      All recently published books, articles and papers should
                      have a Digital Object Identifier (DOI) issued by the
                      publisher.  You will need to locate and provide that
                      DOI, if it exists.  Note that valid DOIs are
                      <b>Mandatory</b> for Journal aricles.  In other cases
                      it is permitted to enter the citation details by hand.
                    </p>
                    <button type="button" name="have-doi"
                            class="btn btn-default btn-sm">I have a DOI to enter
                    </button>&nbsp;
                    <button type="button" name="no-doi"
                            class="btn btn-default btn-sm">I have no DOI
                    </button>
                  </div>
                  {% include "rcallocation/_field.html" with field=publication_form.doi hide="" button="check-doi" button_text="Validate DOI" %}
                  {% if publication_form.crossref_metadata|length == 0 %}
                    {% include "rcallocation/field.html" with field=publication_form.publication %}
                  {% else %}
                    {% include "rcallocation/field.html" with field=publication_form.publication hide=True %}
                  {% endif %}
                  <div id='details-group' {% if publication_form.crossref_metadata|length == 0 %} hidden {% endif %} >
                    <label>Publication details (from crossref)</label>
                    <div id='details-text'>
                      {% autoescape off %}
                      {{ publication_form.crossref_metadata.value|crossref_summary }}
                      {% endautoescape %}
                    </div>
                  </div>
                {% endif %}
              </div>
              <button type='button' id='delete-publication' class='btn btn-danger field-delete-btn'>
                <i class='fa fa-close'></i> Delete
              </button>
            </fieldset>
    {% endfor %}
  </div>
  <div class="add_another_row">
      <button class="btn btn-default" value="Add publication" id="add_another" type="button">
          <i class="fa fa-plus"></i> Add publication
      </button>
  </div>
</div>
<br/>
