<div class="quota">
  {% if quota_form.non_field_errors %}
  <div class="alert alert-danger" role="alert">{{ quota_form.non_field_errors }}</div>
  {% endif %}
  {{ quota_form.id }}
  {{ quota_form.allocation_resource }}
  {{ quota_form.DELETE.as_hidden }}
  {{ quota_form.units.as_hidden }}
  <div class="row">
    <div class="col-md-4">
      <h4>Storage Quota
        {% if quota_form.DELETE %}
          <button type="button" class="pull-right btn btn-default"><i class="icon-trash"></i>Delete</button>
        {% endif %}
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 resource">
      {% include "rcallocation/nohelp_field.html" with field=quota_form.resource %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 zone">
      {% include "rcallocation/nohelp_field.html" with field=quota_form.zone %}
    </div>
    <div class="col-md-2 requested_quota">
      {% include "rcallocation/quota_field.html" with field=quota_form.requested_quota units=quota_form.units.value %}
    </div>
  </div>
  <hr/>
</div>