{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="form-group has-error">
    <span class="help-block">{{ form.non_field_errors }}</span>
  </div>
{% endif %}
<div id="quota-resource-{{ form.resource.value }}">
  <div class="row">
    <div class="col-md-4">
      <h4 class="label-resource-name"></h4>
    </div>
  </div>
  <div class="row">
    {% if not form.requested_quota.is_hidden %}
    <div class="col-md-4 requested_quota">
      {% include "rcallocation/approve_field.html" with field=form.requested_quota %}
    </div>
    {% else %}
    <div class="col-md-4"><p>Users cannot request this resource</p></div>
    {% endif %}
    <div class="col-md-4 quota">
      {% include "rcallocation/approve_field.html" with field=form.quota %}
    </div>
  </div>
</div>
