<div class="row form-group quota-resource">
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if form.non_field_errors %}
  <div class="form-group has-error">
    <span class="help-block">{{ form.non_field_errors }}</span>
  </div>
  {% endif %}
  <div id="quota-resource-{{ form.resource.value }}" class="form-inline">
    <div class="form-group input-group col-sm-2">
        <label id="label-resource-name" class="control-label pull-right"></label>
    </div>
    <div class="form-group input-group requested_quota">
      <input id="{{ form.requested_quota.id_for_label }}" class="form-control requested-quota" min="0" name="{{ form.requested_quota.html_name }}" type="number" value="{{ form.requested_quota.value }}">
      <span id="label-resource-unit" class="input-group-addon"></span>
    </div>
    {% if form.requested_quota.errors %}
    <div class="form-group has-error">
      <span class="help-block">{{ form.requested_quota.errors }}</span>
    </div>
    {% endif %}
    <div class="form-group input-group zone {%if form.zone.errors %}has-error{% endif %}">
      {{ form.zone }}
    </div>
    {% if form.zone.errors %}
    <div class="form-group has-error">
      <span class="help-block">{{ form.zone.errors }}</span>
    </div>
    {% endif %}

    <button class="btn btn-link btn-xs quota-resource-delete" type="button" name="action" value="delete" style="display: none;">
        <i class="fa fa-times text-danger"></i>
    </button>

  </div>
</div>
