{% if field %}
        <td>
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <div class="controls">
                    {% block input_style_block %}
                        <div class="input-group">
                            {{ field }}
                        </div>
                    {% endblock %}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </td>
        <td>
            {% block remove_button %}
                <span title="remove" id="id_{{ field.html_name }}" class="delete-icon-sp"> &nbsp; &nbsp;<img class="delete-icon" src='{{ STATIC_URL }}rcportal/img/delete.png'> &nbsp; &nbsp; </span>
            {% endblock %}
        </td>
{% endif %}
