{% if field %}
    <div class="flex-group form-group {% if field.errors %}has-error{% endif %}">
        {% block input_style_block %}
          <div class="input-g">
            {{ field }}
          </div>
        {% endblock %}
        {% block remove_button %}
            <span title="remove" id="id_{{ field.html_name }}" class="delete-icon-sp text-danger"> &nbsp; &nbsp;<i class="fa fa-times"></i> &nbsp; &nbsp; </span>
        {% endblock %}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}
