<div class="alert alert-warning" role="alert">
  <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Warnings</h4>
  <p>Please review the following warnings. Then either modify the form and "Submit" it again, or "Submit ignoring warnings".</p>
  <hr>
  <div>
  {% for warning in warnings %}
  <ul>
    <li>{{warning.1}}
      {% if warning.0 %}
      <a href="{{HORIZON_CONFIG.WARNING_INFO_URL}}#{{warning.0}}" target="_blank">More information</a>
      {% endif %}
    </li>
  </ul>
  {% endfor %}
  </div>
</div>
