<div class="alert alert-warning" role="alert">
  <h4><span class="fa fa-warning"></span> Warnings</h4>
  <p>Please review the following warnings. Then either modify the form and "Submit" it again, or "Submit ignoring warnings".</p>
  <hr>
  {% for warning in warnings %}
  <div class="row">
    <div class="col-md-4">{{warning.1}}</div>
    <div class="col-md-8">
      <button
        onclick='window.open("{{HORIZON_CONFIG.WARNING_INFO_URL}}#{{warning.0}}", "_blank")'>
        Click for more information
      </button>
    </div>
  </div>
  {% endfor %}
</div>
