<p>Choose your desired network configuration by adding or removing networks
under the <b>Selected networks</b> heading. You can add new networks from the
<b>Available networks</b> heading by clicking the + or - buttons or dragging
and dropping networks, which can also adjust the NIC ordering.</p>

<p>Classic Provider network will enable the default network(s) provided at the
specific availablity zone. In most cases, this will result in one interface
with a publically routable IP address.</p>

<p><a href="some-support-doc">More information</a></p>
