Source: python3-nectar-dashboard
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends: debhelper (>= 10~), python-all, python3-all, python3-setuptools, python3-pip
Standards-Version: 4.1.4
Homepage: https://github.com/NeCTAR-RC/nectar-dashboard

Package: python3-nectar-dashboard
Architecture: any
Depends: openstack-dashboard (>= 15.0.0),
         ${misc:Depends},
         ${python:Depends},
         python3-dateutil,
         python3-pymysql,
         python3-djangorestframework,
         python3-django-filters,
         python3-trove-dashboard,
         python3-heat-dashboard,
         python3-murano-dashboard,
         python3-neutron-lbaas-dashboard,
         python3-sahara-dashboard,
         python3-manila-ui,
         python3-django-cors-headers,
Description: NeCTAR openstack dashboard
 NeCTAR modifications and themes for the openstack dashboard
