Source: python-nectar-dashboard
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.6), python-setuptools, python-pip (>= 1.2)
Standards-Version: 3.9.6
Homepage: https://github.com/NeCTAR-RC/nectar-dashboard

Package: python-nectar-dashboard
Architecture: any
Depends: openstack-dashboard (>= 13.0.0),
         ${misc:Depends},
         ${python:Depends},
         python-dateutil,
         python-pymysql,
         python-djangorestframework,
         python-django-filters,
         python-trove-dashboard,
         python-heat-dashboard,
         python-murano-dashboard,
         python-neutron-lbaas-dashboard,
         python-sahara-dashboard,
         python-manila-ui,
Description: NeCTAR openstack dashboard
 NeCTAR modifications and themes for the openstack dashboard
