Source: nectar-dashboard
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends: debhelper (>= 10~), dh-python,
         python3-all,
         python3-setuptools,
         python3-pip,
         python3-dateutil,
         python3-mock,
         python3-djangorestframework,
         python3-django-horizon,
         python3-django-filters,
         python3-factory-boy,
         python3-manukaclient,
Standards-Version: 4.1.4
Homepage: https://github.com/NeCTAR-RC/nectar-dashboard

Package: python3-nectar-dashboard
Architecture: any
Depends: openstack-dashboard (>= 15.0.0),
         ${misc:Depends},
         ${python3:Depends},
         python3-dateutil,
         python3-pymysql,
         python3-djangorestframework,
         python3-django-filters,
         python3-manukaclient,
         python3-trove-dashboard,
         python3-heat-dashboard,
         python3-murano-dashboard,
         python3-neutron-lbaas-dashboard,
         python3-manila-ui,
         python3-magnum-ui,
         python3-designate-dashboard,
         python3-django-cors-headers,
Description: NeCTAR openstack dashboard
 NeCTAR modifications and themes for the openstack dashboard
