@import "slick-theme";

.panel-bg-image {
  position: relative;
  background-color: $gray;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#welcome {
  display: none;
  #welcome-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}

#home_featured_banner {
  .banner-text {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 40px;
    background: #fff;
    @media(min-width: 1200px) {
      margin-top: 10rem;
      margin-bottom: 10rem;
    }
  }
  .banner-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-right: 30px;
    line-height: 1.2;
    color: #16161d;
  }
  .banner-subtitle {
    font-size: 20px;
    color: rgba(32, 32, 32, 0.8);
  }
  .banner-btn {
    margin-top: 20px;
  }
}
#announcements {
  .severity-dial {
    width: 100%;
    max-width: 40px;
  }
}
#ardc_news {
  .news-slide {
    a {
      text-decoration: none;
      display: block;
      position: relative;
      margin: 10px;
      border: 1px solid #e5e5e5;
      display: block;
      background: #fff;
      .news-thumbnail img {
        transition: transform 500ms ease-in-out;
      }
      &:hover {
        .news-thumbnail img {
          transform: scale(1.1);
        }
        .btn-link {
          color: #003944;
        }
      }
    }
    .news-thumbnail {
      position: relative;
      overflow: hidden;
      display: block;
      img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1.75 / 1;
      }
    }
    .news-content {
      padding: 20px;
      height: 180px;
      .news-meta {
        color: #333333;
      }
      .news-title {
        font-size: 19px;
        line-height: 19px;
        color: #111111;
        overflow: hidden;
        -webkit-line-clamp: 5;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-top: 0;
      }
    }
    .news-link {
      padding: 20px;
    }
  }
}
