/**** Custom Styles for ARDC Nectar Research Cloud ****/
/**** Based on Horizon theme ****/

// Use ARDC Figtree Google Font
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Import Bootstrap variables and override
@import "variables";
@import "bootstrap/variables";

/*
 * Global styles
 */
html {
  background-color: $body-bg; // combat angular-material from Heat dashboard
}

html, body:not(#splash):not(#terms) {
  overflow: hidden;
}

body {
  // height: auto !important; // Reset Horizon theme body height
  // min-height: auto !important; // Reset Horizon theme body min-height
  &#splash {
    overflow-y: auto;
    //display: flex;
    //flex-direction: column;
  }
  &#terms {
    overflow-y: auto;
  }
}

/* Override horizon standard link styling */
a:not([class]), a[class=""] {
  text-decoration: underline;
  &:hover {
    color: #16161d;
    text-decoration-color: #00A2C4;
  }
}
/* Remove above link styling from all links in nav or with images */
nav a, .nav a, a img {
  text-decoration: none !important;
}

h6, .h6, 
h5, .h5, 
h4, .h4, 
h3, .h3, 
h2, .h2, 
h1, .h1 {
  font-family: 'Figtree', sans-serif;
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-weight: 600;
  line-height: 1.2;
  color: #16161d;
}

ul.list-bullet {
  list-style: none;
  padding-left: 14px;
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      position: absolute;
      top: 6px;
      left: 2px;
      width: 8px;
      height: 8px;
      pointer-events: none;
      content: "";
      background-color: $ardc-yellow;
    }
  }
}

.table_wrapper {
  overflow: visible;
  margin-bottom: 30px;
}

.table_inner {
  overflow-x: scroll;
  /* Hack to show row actions dropdown without scroll */
  padding-bottom: 520px;
  margin-bottom: -520px;
}

.modal {
  .table_inner {
    overflow-x: scroll;
    padding-bottom: 50px;
    margin-bottom: -50px;
  }
}

.table_actions {
  float: none;
  width: 100%;
  @media (min-width: 992px) {
    text-align: right;
  }
  .form-group {
    margin-bottom: 0;
  }
  .btn, .form-control {
    margin-bottom: 5px;
  }
  .dropdown-menu-right {
    @media (max-width: 991px) {
      right: auto;
    }
  }
}

.table_actions button, 
.table_actions input,
.table_actions a {
  margin-bottom: 3px;
}

.table > tbody > tr > td.sortable {
  min-width: 100px;
}

@media (min-width: 768px) {
  .form-inline .form-group,
  .table_actions .form-group {
    // margin-bottom: 5px;
    min-width: 160px;
  }
  .form-inline .control-label,
  .table_actions .control-label {
    min-width: 160px;
  }
}

.table-rsp .rsp-p1 {
  word-break: break-all;
}

button, select, html, textarea, input {
  font-family: 'Figtree', sans-serif;
}

blockquote {
  border-left: 5px solid $brand-primary;
}

a:focus {
  outline: 5px auto $brand-primary;
  outline-offset: 0;
}

.alert-info a {
  color: darken($brand-info, 20%);
  text-decoration: underline;
}

input {
  &:focus,
  &.focus,
  &:focus-visible {
    outline: none !important;
    outline-offset: 0 !important;
  }
}

.btn {
  display: inline-block;
  letter-spacing: 0.5px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, filter .15s ease-in-out;
  // &:focus,
  // &:active,
  // &:hover {
  //   color: #fff;
  // }
  &:focus,
  &:focus-visible {
    outline: none !important;
  }
  &.disabled, 
  &[disabled]{
    background-color: $gray-light;
    border-color: $gray-light;
    color: $gray-dark;
    &:hover,
    &:focus,
    &:active {
      background-color: $gray-light;
      border-color: $gray-light;
      color: $gray-dark;
    }
  }
}

.btn-primary {
  color: #000000;
  background-color: $ardc-yellow;
  border-color: $ardc-yellow;
  &:after {
    content: "";
    opacity: 0;
    transition: all 0.15s ease-in-out 0s;
  }
  &:hover {
    color: #ffffff;
    background-color: $ardc-purple;
    border-color: $ardc-purple;
    &:after {
      opacity: 1;
      color: #ffffff;
      margin-left: 10px;
      vertical-align: top;
      font-family: FontAwesome;
      content: "\f054";
      font-style: normal;
      font-weight: normal;
    }
  }
}

.btn-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.btn-group > .btn {
  @media (max-width: 991px) {
    margin-bottom: 5px;
  }
}

.btn-dismiss {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10px, -50%);
}

.progress-bar > span {
  font-weight: 700;
  cursor: default;
}

.panel {
  border-radius: 0;
  .panel-heading {
    font-weight: bold;
  }
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.breadcrumb > .active {
  color: $gray-dark;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
  .row.equal > div[class*='col-'] {  
    display: flex;
    flex-direction: column;
  }
}

.modal {
  .modal-dialog:not(.modal-xs, .modal-sm, .modal-lg, .modal-xl) {
    @media (min-width: 992px) {
      width: 900px;
    }
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .close {
    // auto on the left force icon to the right even when there is no .modal-title
    opacity: 0.5;
    margin: 0;
    font-size: 26px;
  }
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
}

// Footer (for actions)
.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal.modal-bordered {
  .modal-content,
  .modal-header,
  .modal-body,
  .modal-footer {
    border-bottom: 1px solid $gray-light;
  }
}

.wizard-navigation {
  > .wizard-nav-toggle {
    margin-top: 0;
    margin-right: 0;
    span:not(.sr-only, .fa-bars) {
      display: none;
    }
  }
}

.badge {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.underline-short:after {
  content: "";
  background: #000;
  height: 2px;
  display: block;
  margin-top: 10px;
  max-width: 50px;
}

.glyphicon-asterisk {
  font-size: 1.25em;
}
/*
 * Login Page
 */
#login_content {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  margin-bottom: -30px;
  background: #ffffff;
  #login_bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 1020px;
    @media (max-width: 1199px) {
      left: 50%;
      transform: translateX(-50%);
    }
    @media (min-width: 1200px) and (max-width: 1400px) {
      transform: translateX(-10%);
    }
    #honeycomb {
      opacity: 0;
      will-change: opacity;
      animation: fadeIn 0.5s linear 0.5s forwards;
      #honeycomb-hex {
        #hex-flashing {
          polygon {
            animation: flashingHex 1s linear infinite alternate;
            &:nth-child(1) { animation-delay: 0.2s }
            &:nth-child(2) { animation-delay: 0.4s }
            &:nth-child(3) { animation-delay: 0.6s }
            &:nth-child(4) { animation-delay: 0.8s }
            &:nth-child(5) { animation-delay: 1s }
            &:nth-child(6) { animation-delay: 1.2s }
            &:nth-child(7) { animation-delay: 1.4s }
            &:nth-child(8) { animation-delay: 1.6s }
            &:nth-child(9) { animation-delay: 1.8s }
            &:nth-child(10) { animation-delay: 0.2s }
            &:nth-child(12) { animation-delay: 0.4s }
            &:nth-child(10) { animation-delay: 0.2s }
            &:nth-child(13) { animation-delay: 0.6s }
            &:nth-child(14) { animation-delay: 0.8s }
            &:nth-child(15) { animation-delay: 1s }
            &:nth-child(16) { animation-delay: 1.2s }
            &:nth-child(17) { animation-delay: 1.4s }
          }
        }
      }
    }
    #lines {
      path, line {
        opacity: 0;
        stroke-dasharray: 12 12;
        stroke-dashoffset: 1000;
        will-change: opacity;
        animation: fadeIn 0.5s linear 2s forwards, drawDashed 20s linear 2s infinite;
      }
      circle {
        opacity: 0;
        will-change: opacity;
        animation: fadeIn 0.5s linear 2s forwards;
      }
    }
    #symbols {
      opacity: 0;
      will-change: opacity;
      animation: fadeIn 0.5s linear 1s forwards;
    }
  }
  .login {
    margin-top: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .login-logo {
      margin-bottom: 30px;
      width: 100%;
      max-width: 100%;
    }
    .btn {
      margin: 5px;
    }
  }
}

/*
 * Main Content Section
 */
#main_content {
  height: 100%;
  #sidebar {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border-right: 1px solid $gray-light;
    // box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.175);
  }
  #content_body {
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
    padding-left: 0 !important;  // Reset Horizon theme left padding for screens > 768px
    padding-top: 0;
    display: flex;
    flex-direction: column;
    // justify-content: space-between; // Push footer to bottom
    > .container-fluid {
      width: 100%; // Fix narrow width caused by parent flex property
      flex-grow: 1; // Make element height fill empty space in window
      background-color: $body-bg;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

#static_content {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Push footer to bottom
}

/*
 * Nav bar
 */
nav {
  &.navbar {
    background-color: #eeeeee;
    border-color: #eeeeee;
    color: rgba(32, 32, 32, .8);
    .navbar-toggle {
      line-height: 1;
      border: none;
      &:focus {
        box-shadow: unset;
      }
      &#sidebar-toggle {
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
    .navbar-brand {
      font-size: 16px;
      color: rgba(32, 32, 32, .8);
      img {
        margin-right: 10px;
        height: 40px;
      }
    }
    .navbar-nav {
      margin: 0px -15px;
    }
    #navbar-collapse {
      li {
        @media only screen and (max-width: 991px) {
          background: $white;
          border-bottom: #e5e5e5 solid 1px;
        }
        a {
          // padding: 1.25rem 0;
          color: rgba(32, 32, 32, .8);
          &:hover {
            color: #000;
          }
          @media only screen and (max-width: 991px) {
            padding: 14px 20px;
            color: #8e489b;
          }
        }
      }
      .navbar-nav li.nectar-menu {
        @media only screen and (min-width: 992px) {
          margin-right: 1rem;
          > a {
            box-shadow: inset 0 -4px 0 transparent;
            &:hover,
            &:active,
            &.active,
            &.show {
              background: none;
              box-shadow: inset 0 -4px 0 $ardc-purple;
            }
          }
        }
        span.user-name {
          @media(min-width: 992px) and (max-width: 1200px) {
            display: none;
          }
        }
      }
      .dropdown-toggle {
        &:focus {
          background-color: unset;
        }
        &:after {
          display: none;
          // float: right;
          // margin-left: 0.5rem;
          // vertical-align: middle;
          // border: none;
          // text-rendering: auto;
          // font-family: "Font Awesome 5 Free";
          // content: "\f078";
          // font-weight: 900;
          // -webkit-font-smoothing: antialiased;
        }
        &.show:after {
          // content: "\f077";
        }
      }
      .navbar-nav > li.dropdown {
        // position: initial;
        .dropdown-menu {
          // width: 100%;
          margin-top: 0;
          border: none;
          border-radius: 0;
          background-color: #f8f7fc;
          box-shadow: none;
          min-width: 100%;
          li a {
            color: $black;
            &:hover,
            &:active {
              color: $ardc-purple;
              background-color: unset;
            }
            @media only screen and (min-width: 992px) {
              padding: 10px 30px;
            }
          }
          .dropdown-header {
            color: $gray;
            padding: 14px 20px;
            @media only screen and (min-width: 992px) {
              padding: 10px 30px;
            }
          }
        }
      }
    }
  }
}
// .navbar {
//   font-size: 16px;
//   background-color: $gray-lighter;
//   color: rgba(32, 32, 32, .8);
//   .navbar-brand {
//     font-size: 20px;
//     img {
//       margin-right: 10px;
//     }
//   }
//   .navbar-nav {
//     margin: 0;
//     .nectar-menu {
//       > a {
//         color: rgba(32, 32, 32, .8);
//         padding-right: 10px;
//         padding-left: 10px;
//         &:hover {
//           color: #000;
//         }
//       }
//       span.user-name {
//         @media(min-width: 992px) and (max-width: 1200px) {
//           display: none;
//         }
//       }
//     }
//   }
//   .navbar-toggle {
//     color: #fff;
//     line-height: 1;
//     &#sidebar-toggle {
//       @media (min-width: 768px) {
//         display: none;
//       }
//     }
//   }
// }

/*
 * Sidebar
 */
 #sidebar {
  font-weight: bold;
  width: 240px; // Change horizon sidebar width from 220px to allow scroll bar to fit
  @media (max-width: 767px) {
    position: absolute !important;
    left: -240px; // Change horizon sidebar width from 220px to allow scroll bar to fit
    padding-bottom: 64px;
  }
  #project_select {
    padding: 20px;
    li a {
      text-decoration: none;
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-transform: none;
      span.fa-list-alt {
        display: none;
      }
    }
  }
  #project_info {
    p, h4 {
      margin: 6px 0;
    }
    a {
      display: inline-block;
    }
  }
  #sidebar-accordion {
    width: 240px; // Change horizon sidebar width from 220px to allow scroll bar to fit
    .home-dashboard a.active,
    .home-dashboard a.active:hover,
    .home-dashboard a.active:focus {
      border-radius: 0;
      background-color: $brand-primary;
      color: #fff;
      > .badge {
        color: #fff;
      }
    }
    .list-group-item.active,
    .list-group-item.active:hover,
    .list-group-item.active:focus {
      background-color: $brand-primary;
      color: #fff;
      > .badge {
        color: #fff;
      }
    }
  }
  .nav > li > a {
    padding: 10px 20px; // Change horizon sidebar padding to allow scroll bar to fit
  }
  .openstack-dashboard {
    text-align: left;
    border-top: 1px solid #e6e6e6;
    > a {
      font-size: larger;
    }
  }
  li.openstack-panel-group {
    text-align: left;
    > a:before {
      content: "";
      display: inline-block;
      width: 15px;
    }
  }
  a.openstack-panel {
    text-align: left;
    &:before {
      content: "";
      display: inline-block;
      width: 30px;
    }
    &.list-group-item > .badge {
      float: none;
    }
  }
}

.label-info {
    background-color: darken($brand-info, 5%);
}

/*
 * Footer
 */
#footer {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #ffffff;
}
body#splash #footer {
  padding-top: 2rem;
  border-top: 1px solid $gray-light;
}
#ardc-footer {
  color: #494949;
  padding-top: 20px;
  .container {
    width: 100%;
  }
  div[class^="col-"] {
    @media only screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  .footer-logos {
    display: flex;
    align-items: end;
    margin-bottom: 26px;
    a {
      display: inline-block;
      img {
        width: 100%;
        max-width: 176px;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .footer-image-description {
    font-size: 16px;
    line-height: 16px;
    width: 62%;
  }
  .footer-heading {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .footer-links {
    @media only screen and (min-width: 992px) {
      padding-left: 7rem;
    }
  }
  .footer-acknowledgement {
    p {
      margin: 17px 0;
      color: #676767;
      font-size: 16px;
    }
  }
  .footer-copyright {
    padding-top: 18px;
    padding-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(32, 32, 32, 0.8);
    .copyright {
      margin-right: 10px;
      i {
        font-size: 10px;
      }
    }
    a {
      color: rgba(32, 32, 32, 0.8);
      text-decoration: none;
      &:hover {
        color: $ardc-purple;
      }
      &.footer-link {
        border-left: 1px solid rgba(32, 32, 32, 0.8);
        padding-left: 19px;
        padding-right: 19px;
      }
    }
  }
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    width: 600px;
    max-width: 100%;
    font-size: 16px
}

#mc_embed_signup h2 {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px
}

#mc_embed_signup button {
    border: none
}

#mc_embed_signup form {
    margin: 0
}

#mc_embed_signup [type=submit],
#mc_embed_signup button {
    transition: 250ms ease-in-out;
    cursor: pointer
}

#mc_embed_signup .mc-field-group input,
#mc_embed_signup .mc-field-group select {
    border: 1px solid #b8b6c7;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    padding: 8px;
    background: #fff;
    color: #767676;
    display: block;
    width: 100%;
    font-family: inherit;
    box-sizing: border-box
}

.ardc-custom--fields-grid-wrapper {
  @media only screen and (min-width: 768px) {
    grid-column-gap: 2%;
  }
  grid-row-gap: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, auto);
  width: 100%
}

#mc_embed_signup .ardc-custom--fields-grid-wrapper>.mc-field-group {
    grid-column: 1/-1;
    padding-bottom: 0
}

#mc-signup-modal .mc-field-group.input-group .button,
#mc_embed_signup .button {
    margin: 14px 0 0;
    background-color: #f8b20e;
    box-shadow: inset 0 0 0 1px #f8b20e;
    font-size: 16px;
    line-height: 1;
    color: #16161d;
    font-weight: 700;
    padding: 10px 28px;
    letter-spacing: .5px;
    height: auto;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-size: 8px 12px;
    background-position: right 18px center
}

#mc-signup-modal .mc-field-group.input-group .button:hover,
#mc_embed_signup .button:hover {
    background-image: url("https://ardc.edu.au/wp-content/themes/ardc/images/icons/arrow-right-white.svg");
    text-decoration: none;
    padding-right: 37px;
    color: #fff;
    background-color: #8e489b;
    box-shadow: inset 0 0 0 1px #8e489b
}

#mc-signup-modal {
    display: none;
    pointer-events: none;
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden
}

#mc-signup-modal.active {
    display: block;
    pointer-events: auto
}

#mc-signup-modal .mc-field-group {
    position: absolute;
    background-color: #fff;
    top: 44%;
    left: 50%;
    width: 90%;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    max-width: 778px;
    box-sizing: border-box;
    padding: 30px;
    color: #494949
}

#mc-signup-modal ul {
    padding: 0
}

#mc-signup-modal li,
#mc-signup-modal ul {
    list-style: none
}

#mc-signup-modal li {
    padding: 0 !important
}

#mc-signup-modal .mc-field-group input {
    height: auto;
    width: auto;
    margin-right: .25em
}

#mc-signup-modal .mc-field-group input,
#mc-signup-modal .mc-field-group label {
    display: inline-block;
    vertical-align: middle
}

.close-modal {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    color: #8e489b;
    background: 0 0;
    border: 0;
    font-size: 30px;
    font-family: inherit
}

.error-message {
    display: none;
    background: #fff9f9;
    border: 1px solid #c02b0a;
    font-size: 14.992px;
    margin-top: 8px;
    padding: 12.992px 24px;
    color: #c02b0a
}

#mc-signup-modal.error label,
#mc-signup-modal.error p {
    color: #c02b0a
}

#mc-signup-modal.error .error-message {
    display: block
}

#mc-embedded-subscribe {
    border: none !important
}

@media all and (min-width:768px) {
    .ardc-custom--fields-grid-wrapper {
        grid-template-columns: repeat(12, 1fr)
    }

    #mc_embed_signup .ardc-custom--fields-grid-wrapper>.mc-field-group {
        grid-column: span 6
    }

    #mc-signup-modal .mc-field-group {
        padding: 80px 70px
    }
}

.quota-dynamic {
  overflow: visible;
  padding: 0;
}

.form-actions {
  margin-bottom: 30px;
}

.app-list .app p {
  font-size: 13px;
}

.hz-magic-search-context .hz-dynamic-table-preamble {
  @media (max-width: 1080px) {
    display: block;
    .hz-magic-search-bar {
      padding-right: 0;
    }
  }
}

.modal.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    background: none;
    box-shadow: none;
    .modal-body {
      color: #fff;
      .loader {
        -webkit-animation: unset;
        animation: unset;
        font-size: unset;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="512" height="517.64" viewBox="0 0 512 517.64"><polygon id="polygon1" points="209.72 381.51 279.63 258.82 209.72 136.12 69.9 136.12 0 258.82 69.9 381.51 209.72 381.51" fill="%23f5b01a" fill-opacity="0.5"><animate id="polygon1-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="0.5;1;1;0.5;0.5;0.5" dur="1.8s" repeatCount="indefinite" /></polygon><polygon id="polygon2" points="442.1 245.39 512 122.69 442.1 0 302.28 0 232.37 122.69 302.28 245.39 442.1 245.39" fill="%23f5b01a" fill-opacity="0.5"><animate id="polygon2-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="0.5;0.5;0.5;1;1;0.5" dur="1.8s" repeatCount="indefinite" /></polygon><polygon id="polygon3" points="442.1 517.64 512 394.95 442.1 272.25 302.28 272.25 232.37 394.95 302.28 517.64 442.1 517.64" fill="%23f5b01a" fill-opacity="1"><animate id="polygon3-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="1;0.5;0.5;0.5;0.5;1" dur="1.8s" repeatCount="indefinite" /></polygon></svg>');
        //background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="512" height="517.64" viewBox="0 0 512 517.64"><polygon id="polygon1" points="209.72 381.51 279.63 258.82 209.72 136.12 69.9 136.12 0 258.82 69.9 381.51 209.72 381.51" fill="%23f5b01a" fill-opacity="0.5"><animate id="polygon1-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="0.5;1;1;1;1;0.5" dur="2s" repeatCount="indefinite" /></polygon><polygon id="polygon2" points="442.1 245.39 512 122.69 442.1 0 302.28 0 232.37 122.69 302.28 245.39 442.1 245.39" fill="%23f5b01a" fill-opacity="0.5"><animate id="polygon2-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="0.5;0.5;1;1;1;0.5" dur="2s" repeatCount="indefinite" /></polygon><polygon id="polygon3" points="442.1 517.64 512 394.95 442.1 272.25 302.28 272.25 232.37 394.95 302.28 517.64 442.1 517.64" fill="%23f5b01a" fill-opacity="0.5"><animate id="polygon3-anim" attributeType="xml" attributeName="fill-opacity" begin="0s" values="0.5;0.5;0.5;1;1;0.5" dur="2s" repeatCount="indefinite" /></polygon></svg>') !important;
        background-size: contain;
        display: inline-block;
        width: 100px;
        height: 101px;
        &:before {
          content: none;
        }
      }
      .loader-caption {
        padding-top: 0;
      }
    }
  }
}

.pie-chart .svg-pie-chart .slice.margin {
  fill: #f2f2f2;
}

.usage-error {
  display: none;
}

#usage_trend_page {
  input#date_selector {
    min-width: 190px;
    border: 1px solid $brand-info;
    color: darken($brand-info, 10%);
  }
  .usage-stats-value {
    line-height: normal;
    padding: 10px 20px 10px 10px;
    margin: 0;
    text-align: center;
  }
  #usage_table_filter {
    text-align: right;
    label {
      input {
        margin-left: 6px;
      }
    }
  }
  #usage_table_paginate {
    text-align: right;
  }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    font-family: FontAwesome;
    content: "\f0d8";
    margin-left: 6px;
    opacity: 0.3;
  }
  table.dataTable thead .sorting_asc:after {
    content: "\f0d7";
    opacity: 1;
  }
  table.dataTable thead .sorting_desc:after {
    content: "\f0d8";
    opacity: 1;
  }
}

.usage_info_wrapper .datepicker > div {
  display: table;
}

.daterangepicker {
  td {
    &.in-range {
      background-color: lighten($brand-info, 60%) !important;
    }
    &.active,
    &.active:hover {
      background-color: darken($brand-info, 5%) !important;
    }
  }
  .drp-calendar {
    width: auto; // override horizon .left and .right width 50%
  }
  .ranges li.active {
    background-color: darken($brand-info, 10%) !important;
  }
}

#usage_allocation_page {
  .usage-stats-value {
    line-height: normal;
    padding: 10px 20px 10px 10px;
    margin: 0;
    text-align: center;
  }
}
.paused {
  animation-play-state: paused !important;
}
/*
 * CSS Functions
 */
 @keyframes drawDashed {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes flashingHex {
  0% { fill: #f8b20e; }
  25% { fill: #f8b20e; }
  50% { fill: #f8b20e; }
  75% { fill: #f8b20e; }
  100%   { fill: #fce09f; }
}