<div class="row">
<div class="col-md-5">
  <div class="list-group">
    <a href="#" class="list-group-item disabled">Category</a>
    <a href="#" class="list-group-item"
      ng-repeat="filter in filters"
      ng-class="{active: $index === index}"
      ng-click="filterOn($index)"
      >{$ filter.text $}</a>
  </div>
</div>
<div class="col-md-5">
  <div class="list-group">
    <a href="#" class="list-group-item disabled">Operating System</a>
    <a href="#" class="list-group-item"
      ng-repeat="subfilter in subfilters"
      ng-class="{active: $index === subIndex}"
      ng-click="subfilterOn($index)"
      >{$ subfilter.text $}</a>
  </div>
</div>
</div>
